{{partial 'navbar'}}
<div class="container-fluid bg-auth">
	<div class="row py-lg">
		<div class="col-5 ml-auto mr-auto" style="max-width: 470px !important;">
			<div class="card" style="box-shadow: 0 3px 5px #00000052 !important;">
				<div class="card-body">
					<div class="title-register-provider">Masuk sistem pengelolaan ambulans</div>
					<div class="subtitle-register-provider text-muted">Kelola semua data pelayanan ambulans melalui beranda pengelolaan ambulans</div>
					{{#each flashMessages.queue as |flash|}}
					  {{flash-message flash=flash}}
					{{/each}}
					<div class="form-group-register {{if model.isValidEmail 'was-validated' 'was-unvalidated'}}">
						<label class="label">Email {{isValidEmail}}</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text input-group-custom">
								<svg width="15" height="15" fill="none" stroke="#000" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="">
								<use xlink:href="/assets/image/feather-sprite.svg#mail"/>
								</svg>
								</div>
							</div>
						{{{input type="email" placeholder="ex. sample@email.com" value=model.email class="form-control form-group" autofocus="autofocus"}}}
						</div>
						{{#if model.email}}
							{{#if model.isValidEmail}}
							<div class="valid-feedback">
							{{!-- Looks good! --}}
							</div>
							{{else}}
							<div class="invalid-feedback">
							<span class="input-error">Oops</span>
							Cek kembali penulisan email
							</div>
							{{/if}}
						{{/if}}
					</div>
					<div class="form-group-register {{if model.isValidPassword 'was-validated' 'was-unvalidated'}}">
						<label class="label">Password</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text input-group-custom">
								<svg width="15" height="15" fill="none" stroke="#000" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="">
								<use xlink:href="/assets/image/feather-sprite.svg#lock"/>
								</svg>
								</div>
							</div>
						{{input type="password" value=model.password class="form-control form-group" title="Password minimal 5 karakter"}}
						{{#if model.password}}
							{{#if model.isValidPassword}}
							<div class="valid-feedback">
							{{!-- Looks good! --}}
							</div>
							{{else}}
							<div class="invalid-feedback">
							<span class="input-error">Oops</span>
							Password minimal 5 karakter
							</div>
							{{/if}}
						{{/if}}
						</div>
					</div>
					<button disabled={{model.isDisabledSignIn}} class="btn btn-primary btn-block" style="margin-top: 20px; padding: .8rem;" {{action 'signIn'}}>Masuk</button>
					<div class="w-100 text-center" style="margin-top: 20px; padding-left: 50px; padding-right: 50px">
						<small>
						Belum punya akun? silahkan daftar di link berikut 
						{{#link-to 'index' tagName="a"}}Daftarkan instansi{{/link-to}}
						</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{partial 'footer'}}