
@import "ember-cli-bootstrap-4/bootstrap";

body {
  font-size: .9rem;
  font-family: 'Fira Sans';
  font-weight: 300;
}
.loading-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: blue;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.ember-google-map {
  display: block;
  width: 100%;
  height: 500px;
}

.ember-cli-g-map {
  display: block;
  width: 100%;
  height: 300px;
}

.pic-active {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.active-class {
  width: 200px;
  vertical-align: top;
  padding-right: 50px;
}
.active-class small {
  display: block;
  color: #9E9E9E;
  font-size: 0.8rem !important;
  font-weight: 300;
}
.active-class span {
  font-size: 0.8rem;
}
.active-class p {
  font-size: 1rem;
}
.active-class h6 {
  font-size: 1rem;
  font-weight: 300;
}
.pic-active img {
  border-radius: 100px;
  width: 60px;
  height: 60px;
}
.tooltipe:hover .spane, .image:hover .spane {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: 5px;
  font-size: 0.9rem;  
}
.tooltipe:hover {
  width: 220px;
  transform: scale(1.1)
}
.tooltipe img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  display: inline-block;
  position: relative;
  border-radius: 50px;
}
.tooltipe .spane {
  display: none;
}
.tooltipe {
  position: relative;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  width: 55px;
  max-width: 220px;
  padding: 6px 10px;
  color: #545677;
  background-color: #fff;
  border-radius: .25rem;
  font-size: 1rem;
  font-weight: 500;
  will-change: transform;
  transition: transform .5s cubic-bezier(.485,1.65,.545,.835)
}
.tooltipe::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50%;
  // box-shadow: 0 7px 10px 2px rgba(0, 0, 0, 0.25);
  margin: -5px;
  background: inherit;
  transform: rotate(45deg);
  bottom: 0
}
.top-preview{
  background: url('/assets/image/preview.png');
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  background-color: #f3f3f2;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.small-info {
  font-size: .7rem;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 1.2rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 400;
  color: #333;
}

.active.active-link {
  color: white !important;
  background-color: #44b1e4;
}


.active.active-link:hover {
  color: white !important;
  background-color: #339CCD !important;
}

.nav-link.active>.icons {
  color: #fff !important;
}

.sidebar .nav-style {
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px 15px;
  transition: 300ms all ease;
  border-radius: 5px;
  margin-bottom: 5px;
}

.sidebar .nav-style:hover {
  background-color: #e4e4e4;
}

.active:hover {
  // color: white !important;
  // background-color: #339CCD !important;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar .nav-linke {
  font-weight: 400;
  color: #333;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.nav-linke svg {
  margin-right: 5px;
}
.nav-linke:hover{
  background: #272b2f;
}

.sidebar .nav-linke.active {
  color: #fff;
  background: #4e5761;
  border-right: 4px solid #8693a0;
}

.sidebar-heading {
  font-size: .7rem;
  font-weight: 300;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */
.nav-user {
  color: #333 !important;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: #f3f3f2;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.form-control {
  border-radius: 0;
}
.form-control:focus{
  box-shadow: 0 0 0 0.2rem rgba(138, 147, 156, 0.25);
}
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: #09a7e3;
  border-color: #08a2dc;
}
.btn-primary:hover {
  background-color: #0080b1;
  border-color: #09a7e3;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #4e9dbb;
    border-color: #709eb1;
}
.mr-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 120px;
  margin-left: 120px;
}
.image-header {
  background: red;
  height: 400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.navbar .navbar-nav .nav-link {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
}
.nav-link-black {
  color: #000 !important;
}
.icon-fix {
  margin-top: -1px;
}
.navbar{
  padding: 1rem 1rem;
}
.btn.disabled, .btn:disabled {
  cursor: not-allowed !important;
}
.bg-top-right {
  background: url('/assets/image/top-img.jpg');
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.small-title {
  font-size: 0.65rem;
  padding: 3px 20px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #7d95a2;
  background: rgba(62, 177, 230, 0.2);
}
.navbar-cover {
  position: absolute;
  z-index: 2000;
}
.logo-alpine {
  width: 8rem;
}
.logo-alpine-dashboard {
  width: 7rem;
}
.container-navbar {
    max-width: 1200px !important;
}
.outter-header{
  position: relative;
  padding-top: 10rem;
}
.outter-header .inner-left {
  position: relative;
  margin-left: 100px;
  margin-right: 30px;
}
.outter-header .inner-left .display-text-5 {
  font-size: 2.7rem;
  line-height: 1.4;
  font-weight: 400;
}
.outter-header .inner-left .display-text-4 {
  font-size: 2.7rem;
  line-height: 1.2;
  font-weight: 300;
}
.desc-title {
  display: block;
  margin-top: 28px;
  font-size: 1rem;
  width: 85%;
  line-height: 1.8;
  color: #878787;
}
.input-group-custom {
  background: #fff !important;
  border-right: none;
}
.form-group {
  border-left: 1px solid #fff;
}
.scope-button-header {
  position: relative;
  width: 100%;
  height: 227px;
}
.scope-button-header .button-register-ambulans {
  background: #41b311;
  position: absolute;
  top: 70px;
  white-space: nowrap;
  z-index: 2000;
  padding: 20px 120px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  transition: 300ms all ease;
  box-shadow: 0 10px 30px rgba(#242424, .5s);
}
.scope-button-header .button-register-ambulans:hover{
  text-decoration: none;
  background: #5cc52f;
  box-shadow: 0 5px 30px rgba(#242424, .4s);
}
.detail-register-box {
  background: #e2e2e2;
  width: 570px;
  position: relative;
  left: -15px;
  margin-top: 40px;
  padding: 40px;
  padding-left: 115px;
  font-weight: 500;
}
.title-register-provider {
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
}
.subtitle-register-provider{
  font-size: 0.8rem;
  line-height: 1.4;
  margin-bottom: 20px;
}
.register-box  {
  padding: 130px 180px;
}
.card-body{
  padding: 1.5rem  !important;
}
.form-group-register {
  margin-bottom: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.input-group-text {
  font-size: .9rem;
}
.part:before {
  content: "";
  display: block;
  width: 50px;
  background: #c8c8c8;
  height: 5px;
  margin-bottom: 25px;
}
.part {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 30px;
}
.detail-part {
  line-height: 1.8;
}
.my-lg {
  margin-top: 150px;
  margin-bottom: 150px;
}
.py-footer {
  padding-top: 100px;
  padding-bottom: 40px;
}
.title-layanan {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 70px;
}
.mintitle {
  font-size: 1.5rem;
}
.subtitle-layanan {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.content-layanan {
  line-height: 2;
}
.space {
  margin: 50px 0;
}
.bg-tagline {
  background: url('/assets/image/btm-img.jpg');
  padding-top: 70px;
  padding-bottom: 70px;
}
.bg-tagline p, .bg-tagline h3 {
  color: #fff;
}
.bg-tagline h3 {
  margin: 0;
}
.privasi a {
  margin-right: 10px;
  color: #ACACAC;
  text-decoration: none;
}
.privasi a:hover {
  color: #898989;
}
.px-lg{
  padding-left: 220px;
  padding-right: 220px;
}
.py-lg{
  padding-top: 150px;
  padding-bottom: 150px;
}
.link-block a {
  display: block;
  line-height: 3;
}
.title-link-block {
  display: block;
  margin-bottom: 10px;
}
footer .link-block a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}
footer .link-block a:hover {
  color: #898989;
  text-decoration: none;
}
footer {
  color: #fff;
}
.was-validated .valid-feedback {
  display: block;
}
.was-unvalidated .invalid-feedback {
  display: block;
}
// .was-unvalidated .form-control, .was-unvalidated .form-control:focus {
//   border-color: red !important;
//   box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25) !important;
// }
.empty-container{
  width: 100%;
  position: relative;
  text-align: center;
}
.empty-container .title-empty {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.empty-container .subtitle-empty {
  font-size: 0.8rem;
  color: #8A8A8A;
  margin-bottom: 20px;
  display: block;
}
.empty-container img{
  width: 200px;
  margin: 30px auto;
}
.maxarea {
  width: 500px !important;
  height: 80px !important;
}
.input-error {
  background: #E51539;
  padding: 1px 5px;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
}
.bg-auth {
  background-image: url('/assets/image/full-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-auth-admin {
  background: #E5E5E5;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-login-admin {
  text-align: center;
  width: 200px;
}
.subtitle-login-admin {
  display: block;
  margin: 40px 0;
}
.input-group-text {
  border-radius: 0 !important;
}
.header-logo {
  background: white !important;
}
.title-body{
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
}
.subtitle-body {
  display: block;
  color: #AAAAAA;
}
.info-circle {
  position: relative;
  top: -1px;
  color: #C6C6C6;
  margin-right: 5px;
}
.panel {
  position: relative;
  padding: 8px 15px;
  width: 100%;
  margin-right: 1rem;
  border: 1px solid #D5D5D5;
  border-radius: 5px;
}
.panel-first {
  background-color: #41b311;
  border-color: #fff;
  color: #fff;
}
.number {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
}
picture img{
  border-radius: 100px;
  height: 40px;
  width: 40px;
  object-fit: cover;
  vertical-align: middle;
  border-style: none;
  object-position: center;
}
picture {
  vertical-align: top;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 7px;
}
.list-body {
  vertical-align: middle;
  display: inline-block;
}
.list {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 10px;
  padding-top: 10px;
}
ol, ul, dl {
  -webkit-padding-start: 20px;
}
.list:nth-last-child(1) {
  border-bottom: 1px solid #fff;
}

.title-menu {
  font-weight: 400;
  font-size: 1.5rem;
}
.logo-explanation {
  width: 130px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn-round {
  border-radius: 5px;
  font-size: .9rem;
}
.card {
  box-shadow: 0 3px 5px #e8e8e8;
}
.small-photo {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
}
.empty-photo img {
  border-radius: 100px;
}
.navbar-dark {
  background: #fff;
}
th {
  font-weight: 400;
}
.table th, .table td {
  vertical-align: middle;
}
.swal-label {
  font-size: 16px;
  text-align: left !important;
  width: 100%;
}
.swal2-modal .swal2-content {
  text-align: center;
}
.swal2-modal .swal2-input, .swal2-modal .swal2-file, .swal2-modal .swal2-textarea, .swal2-modal .swal2-select, .swal2-modal .swal2-radio, .swal2-modal .swal2-checkbox {
  margin: 5px auto;
}
.swal2-modal .swal2-title {
  font-size: 25px;
  margin: 0px 80px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.swal2-modal .swal2-buttonswrapper {
  text-align: center;
}
.text-swale {
  font-size: 14px;
  margin-bottom: 30px;
  color: #9a9a9a;
  line-height: 1.7;
}
.container-detail-image {
  position: relative;
  display: inline-block;
  width: 200px;
  margin-right: 40px;
}
.container-detail-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 200px;
  padding: 5px;
  border: 1px solid #E0E0E0;
}
.container-detail-content {
  display: inline-block;
  vertical-align: top;
  min-width: 500px;
}
.detail-plat {
  text-align: center;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 7px 30px;
  background: #F6A915;
}
.container-map {
  border: 1px solid #E0E0E0;
  padding: 5px;
  border-radius: 5px;
}
.navbar-darker a {
  color: white !important;
}
.navbar-darker span {
  color: #afafaf !important;
}
.spin {
  position: fixed;
  top: 0;
  width: 100%;
  /* text-align: center; */
  /* margin: 0 auto; */
  background: rgba(255, 255, 255, 0.52);
  z-index: 2;
  height: 100vh;
  padding-top: 200px;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #21aae3;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.commentary {
  display: block;
  margin-top: 50px;
}
.commentary-title {
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
}
.commentary textarea {
  height: 150px
}
.commentary input, .commentary textarea {
  margin-bottom: 20px;
  border-radius: 5px;
}
.list-commentary:nth-child(1) {
  border-top: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.list-commentary:nth-last-child(1) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.list-commentary small {
  color: #3eb1e6;
  margin-bottom: 10px;
}
.btn-clear, .btn-clear:active, .btn-clear:focus {
  box-shadow: none;
  background: none;
  border: none;
  outline: none;
}
.birdy:hover {
  stroke: white;
  background-color: red;
}
.birdy {
  transition: all ease 500ms;
  margin-left: 10px;
  padding: 10px;
  border-radius: 200px; 
  border: 1px solid red; 
  cursor: pointer;
}
.list-commentary {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 20px 30px;
  list-style: none;
}
.list-commentary-empty {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px 50px;
}
.header-top {
  background: url('/assets/image/headerImage.jpg');
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 300px;
  color: white;
  padding: 50px 180px;
}
.header-top .title-header {
  font-size: 3rem;
  margin-top: 40px;
  font-weight: 400;
}
.content-blog img {
  width: 100%;
  margin: 30px 0;
}
.content-blog a {
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.54);
    background-image: linear-gradient(rgba(0, 0, 0, 0.68) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: repeat-x;
    background-size: 2px 0.1em;
    background-position: 0px 1.07em;
    font-size: 21px !important;
}
.content-blog h2 {
  margin: 30px 0;
}
.content-blog span {
    margin: 8px 0px 0px;
    --baseline-multiplier: 0.17;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px !important;
    line-height: 1.58;
    letter-spacing: -0.003em;
    color: rgba(0, 0, 0, 0.84);
}
.content-blog blockquote {
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: -1.88px;
    color: rgba(0, 0, 0, 0.68);
    border: none;
    padding: 0px 0px 0px 50px;
    --baseline-multiplier: 0.22;
    font-family: medium-content-slab-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 30px;
    line-height: 1.48;
    letter-spacing: -0.012em;
}
.header-top small {
  font-size: 1rem;
  font-weight: 300;
}
.alert {
  opacity: 0;
  position: relative;
  // left: 100px;

  transition: all 700ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &.active {
    opacity: 1;
    // left: 0px;

    &.exiting {
      opacity: 0;
      // left: 100px;
    }
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}