<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Daftar komentar</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data instansi dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item">
			  		{{#link-to 'admin.blog' tagName='a'}}Daftar blog{{/link-to}}
			  	</li>
			    <li class="breadcrumb-item active" aria-current="page">Daftar komentar</li>
			  </ol>
			</nav>
			{{#each flashMessages.queue as |flash|}}
			  {{flash-message flash=flash}}
			{{/each}}
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="d-flex">
								<div class="flex-grow-1">
									<small>Judul posting</small>
									<h3>{{blog.title}}</h3>
								</div>
								<div class="flex-grow-1">
									<small>Tanggal posting</small>
									<h3 style="font-weight: 300">{{moment-format blog.createdAt  'DD MMM YYYY hh:mm'}}</h3>
								</div>
								<div class="flex-grow-1">
									<span>Jumlah komentar</span>
									<h3 style="font-weight: 300">{{blog.comments.length}}</h3>
								</div>
								<div class="flex-grow-1">
									<span style="display: block;">Informasi posting</span>
									{{#link-to 'admin.blog.show' blog.id tagName='a' class="btn btn-secondary btn-sm"}}
									Detail blog
									{{/link-to}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 mt-4">
					{{#each blog.comments as |c|}}
						<li class="list-commentary" style="padding: 10px 20px;">
							<div class="d-flex">
								<div class="mr-auto">
									<small><strong>{{c.name}}</strong><span style="color: #939393"> &#183; {{moment-format c.createdAt  'DD MMM YYYY'}}</span></small>
									<p style="white-space: pre-line; margin: 0; font-size: 1rem;">{{c.body}}</p>
									{{#if c.replies}}
									<hr>
									<small style="color: #C0C0C0">Balasan admin</small>
									<ul style="margin-bottom: 0;">
										{{#each c.replies as |reply|}}
										{{#if reply.editReply}}
										<form {{action 'saveReplyEdit' reply on='submit'}}>
											<label style="display: block;">Edit balasan</label>
											{{textarea type="text" class="form-control maxarea" value=reply.body placeholder="Tulis balasan anda..." height="50px" style="width: 500px;"}}
											<button type="submit" class="btn btn-primary btn-sm mt-3">Perbarui balasan</button>
											<button {{action 'cancelReplyEdit' reply}} class="btn btn-secondary btn-sm mt-3">Batal</button>
											<button {{action 'deleteReplyEdit' reply}} class="btn btn-secondary btn-sm mt-3">Hapus</button>
										</form>
										{{else}}
											<li {{action 'editReply' reply}}>{{reply.body}} - {{moment-format reply.createdAt  'DD MMM YYYY hh:mm'}} ({{reply.name}})</li>
										{{/if}}
										{{/each}}
									</ul>
									{{/if}}
								</div>
								<div>
									<button {{action 'deleteComment' c.id}} class="btn btn-danger btn-sm">Hapus</button>
									{{#if c.isReply}}
									<button class="btn btn-secondary btn-sm" disabled>Batal</button>
									{{else}}
									<button {{action 'replyComment' c}} class="btn btn-primary btn-sm">Balas</button>
									{{/if}}
								</div>
							</div>
							{{#if c.isReply}}
							<hr>
							<label style="display: block;">Balasan</label>
							{{textarea type="text" class="form-control" value=body placeholder="Tulis balasan anda..." height="50px"}}
							<button {{action 'postReply' body c.id c}} class="btn btn-primary btn-sm mt-3">Kirim balasan</button>
							<button {{action 'cancleReplyComment' c}} class="btn btn-secondary btn-sm mt-3">Batal</button>
							{{/if}}
						</li>
					{{else}}
						<div class="list-commentary-empty">Komentar masih kosong</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>