<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Tambah blog</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data instansi dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item">
			  		{{#link-to 'admin.blog' tagName='a'}}Daftar blog{{/link-to}}
			  	</li>
			    <li class="breadcrumb-item active" aria-current="page">Tambah blog</li>
			  </ol>
			</nav>
			<div class="row">
				<div class="col-6">
					<div class="form-group {{if model.isNameLength 'was-validated' 'was-unvalidated'}}">
						<label>Judul blog</label>
						{{input type="text" class="form-control" autofocus="autofocus" value=title}}
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label style="display: block">Header image</label>
						{{input type="file" id="headerImage" class="form-control" style="font-size: 13px !important;"  value=headerImage}}
					</div>
				</div>
				<div class="col-12">
					<label>Konten blog</label>
					<div style="border: 1px solid #ddd; margin-bottom: 10px;">
						{{pell-editor value=body onChange=(action (mut value))}}	
					</div>
				</div>
			</div>
            <button type="submit" class="btn btn-primary btn-sm" {{action 'saveBlog' value title}}>Simpan perubahan</button>
            <button class="btn btn-danger btn-sm" {{action 'cancle' model}}>Batal</button>
            {{!-- {{#link-to 'admin.blog' tagName="a" class="btn btn-danger btn-sm"}}
            Batal
            {{/link-to}} --}}
		</div>
	</div>
</div>