<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Daftar blog</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data instansi dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item active" aria-current="page">Daftar blog</li>
			  </ol>
			</nav>
			<div class="row">
				<div class="col-3">
					{{#link-to 'admin.blog.create' tagName="a" class="btn btn-sm btn-primary"}}Buat blog baru{{/link-to}}
				</div>
				<div class="col-7">
					{{#each flashMessages.queue as |flash|}}
					  {{flash-message flash=flash}}
					{{/each}}
				</div>
				<div class="col-2 text-right">
					<span class="btn btn-sm btn-secondary" style="cursor: default !important;">Total blog : <span class="badge badge-light">{{data.length}}</span></span>
				</div>
			</div>
			
			<table class="table table-striped mt-3">
				<thead>
					<tr>
						<th>Judul blog</th>
						<th>Tanggal dibuat</th>
						<th>Tanggal diupdate</th>
						<th>Komentar</th>
						<th>Status</th>
						<th width="300px">Pilihan</th>
					</tr>
				</thead>
				<tbody>
					{{#each data as |d|}}
					<tr>
						<td>{{d.title}}</td>
						<td>{{moment-format d.createdAt  'DD/MM/YY hh:mm'}}</td>
						<td>{{moment-format d.updatedAt  'DD/MM/YY hh:mm'}}</td>
						<td>
							{{#link-to 'admin.blog.comment' d.id tagName="a" class="btn btn-secondary btn-sm" title="Lihat semua komentar"}}
							<span class="badge badge-light">
								{{d.comments.length}}
							</span>
								Lihat komentar
							{{/link-to}}
						</td>
						<td>{{d.status}}</td>
						<td>
							{{#link-to 'admin.blog.show' d.id tagName='a' class='btn btn-sm btn-success'}}
								Detail
							{{/link-to}}
							{{#if (eq d.status 'Unpublished')}}
							<button {{action 'publishBlog' d.id}} class="btn btn-warning btn-sm">Terbitkan</button>
							{{else}}
							<button {{action 'unpublishBlog' d.id}} class="btn btn-secondary btn-sm">Turunkan</button>
							{{/if}}
							{{#link-to 'admin.blog.edit' d.id tagName='a' class='btn btn-sm btn-primary'}}
								Edit
							{{/link-to}}
							<button {{action 'deleteBlog' d.id}} class="btn btn-danger btn-sm">Hapus</button>
						</td>
					</tr>
					{{else}}
					<tr>
						<td colspan="7">Blog masih kosong</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>