<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Detail</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data instansi dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item">
			  		{{#link-to 'admin.blog' tagName='a'}}Daftar blog{{/link-to}}
			  	</li>
			    <li class="breadcrumb-item active" aria-current="page">Detail blog</li>
			  </ol>
			</nav>
			<div class="row">
				<div class="col-md-10 ml-auto mr-auto">
					<picture style="display: inline-block; width: 50px; height: 50px;">
						<img src="{{model.owner.profileImageUrl}}" style="border-radius: 100px; width: 50px; height: 50px; object-fit: center">
					</picture>
					<div style="display: inline-block; width: 300px; vertical-align: top">
						<span style="display: block">{{model.owner.name}}</span>
						<span style="display: block; color: #ACACAC;">Admin alpine &#183; {{moment-format model.createdAt  'DD MMM YYYY'}} &#183; {{moment-format model.createdAt  'hh:mm'}} WIB</span>
					</div>
					<h1 style="margin: 30px 0">{{model.title}}</h1>
					<img src="{{model.headerImage}}" style="width:  100%;height: 400px;object-fit: cover;margin-bottom: 50px">
					<div class="content-blog">
						{{{model.body}}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>