<div class="container-fluid mt-4 mb-5">
	<style>
		.alert-info, .alert-danger{
		    position: absolute;
			width: 93%;
		    left: 40px;
		    z-index: 3;
		}
	</style>
	{{#each flashMessages.queue as |flashProvider|}}
	  {{flash-message flash=flashProvider}}
	{{/each}}
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Daftar ambulans aktif</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	{{!-- <li class="breadcrumb-item">
			  		{{#link-to 'admin.provider' tagName='a'}}Daftar ambulans{{/link-to}}
			  	</li> --}}
			    <li class="breadcrumb-item active" aria-current="page">Daftar ambulans aktif</li>
			  </ol>
			</nav>

			<div class="mb-3">
				<div class="container-map">
				{{#g-map lat="-7.048806" lng=" 110.438118" zoom=13 scaleControl=false draggable=true disableDefaultUI=true styles=lightMapStyle zoomControlOptions=(hash position=google.maps.ControlPosition.LEFT_CENTER) as |g|}}
					{{#each parent as |driver|}}
					{{#g.marker
						lat=driver.lat
						lng=driver.lng}}
						{{/g.marker}}
					{{/each}}
					{{#g.control position="TOP_RIGHT"}}
					    <div class="map-control">
					    	<btn class="btn btn-warning m-2">Ambulans aktif : 
					    	{{#if parent}}
					    	{{parent.length}}
					    	{{else}}
							0
					    	{{/if}}
					    	</btn>
					    </div>
					  {{/g.control}}
				{{/g-map}}
			</div>
			</div>

			{{!-- <div class="col-12"> --}}
				{{#if parent}}
				<hr>
				<div class="title-menu">Daftar ambulans aktif</div>
				<div class="subtitle-menu text-muted mb-4">
					Kelola semua data pengemudi ambulans dan dapatkan hasil secara realtime
				</div>
				{{/if}}
				{{#if parent}}
				{{#each parent as |d|}}
				<div class="card" style="margin-bottom: 15px;">
					<div class="card-body">
						<div class="d-flex flex-row">
							<div class="mr-2">
							<picture class="pic-active">
								<img src="{{d.profileImageUrl}}">
							</picture>
							</div>
							<div class="mr-2 active-class">
								<small>Nama pengemudi</small>
								<h6 style="margin-bottom: 5px;">{{d.name}}</h6>
							</div>
							<div class="mr-2 active-class">
								<small>Plat nomor</small>
								<p style="margin-bottom: 0;">{{d.platNomor}}</p>
							</div>
							<div class="active-class">
								<small>Status</small>
								<span class="btn btn-warning btn-sm">Ambulans aktif</span>
							</div>
							{{!-- <div class="ml-auto">
								{{#link-to 'active-ambulance.detail' d.idAvailable tagName="a" title="Lihat lokasi"}}
								<svg width="60" height="60" fill="none" stroke="#B9B9B9" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 80px;">
								<use xlink:href="/assets/image/feather-sprite.svg#arrow-right-circle"/>
								</svg>
								{{/link-to}}
							</div> --}}
						</div>
					</div>
				</div>
				{{/each}}
				{{else}}
				<div class="card">
					<div class="card-body">
					<div class="empty-container">
						<img src="/assets/image/empty_state/empty02.png">
						<div class="title-empty">Tidak ada ambulans yang bertugas</div>
						<span class="subtitle-empty">Untuk saat ini tidak ada ambulans yang sedang bertugas</span>
				  	</div>	
					</div>
				</div>
				{{/if}}
			{{!-- </div> --}}

		</div>
	</div>
</div>