<div class="container-fluid mt-4 mb-5">
	<div class="row"> 
		<div class="col-12">
			<div class="title-menu">Proses penjemputan pengguna</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data pengemudi ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item" aria-current="page">{{#link-to 'driver-working' tagName="a"}}Daftar ambulans bertugas{{/link-to}}</li>
			    <li class="breadcrumb-item active" aria-current="page">Detail penjemputan</li>
			  </ol>
			</nav>
		</div>
		<div class="col-12">
			<div class="card mb-2">
				<div class="card-body">
					<div class="d-flex flex-row">
						<div style="margin-right: 40px;">
							{{#if driverProfileImageUrl}}
							<picture style="display: inline-block; margin-right: 10px; width: 70px; height: 70px;">
								<img src="{{driverProfileImageUrl}}" style="width: 70px; height: 70px; padding: 5px;">
							</picture>
							{{else}}
							<picture style="display: inline-block; margin-right: 10px; width: 70px; height: 70px;">
								<img src="/assets/image/from.png" style="width: 70px; height: 70px;">
							</picture>
							{{/if}}
							<div style="display: inline-block;">
								<small>A. Ambulans</small>
								<div style="display: block;">{{driverName}}</div>
								<div style="display: block;">{{driverPhone}}</div>
								<div style="display: block; font-size: 10px;">{{driverLat}}, {{driverLng}}</div>
							</div>
						</div>
						<div style="margin-right: 40px;">
							{{#if customerProfilImageUrl}}
							<picture style="display: inline-block; margin-right: 10px; width: 70px; height: 70px;">
								<img src="{{customerProfilImageUrl}}" style="width: 70px; height: 70px; padding: 5px;">
							</picture>
							{{else}}
							<picture style="display: inline-block; margin-right: 10px; width: 70px; height: 70px;">
								<img src="/assets/image/destination.png" style="width: 70px; height: 70px;">
							</picture>
							{{/if}}
							<div style="display: inline-block;">
								<small>B. Pengguna</small>
								<div style="display: block;">{{customerName}}</div>
								<div style="display: block;">{{customerPhone}}</div>
								<div style="display: block; font-size: 10px;">{{customerLat}}, {{customerLng}}</div>
							</div>
						</div>
						<div style="width: 400px;">
							<small>Lokasi penjemputan</small>
							<div>{{pickupLocation}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-map">
				{{#g-map lat="-7.053037" lng="110.436982" zoom=12 scaleControl=false draggable=true gestureHandling="greedy"  disableDefaultUI=true styles=lightMapStyle as |g|}}
				  {{#g.directions
				    origin=driver
				    destination=customer
					optimizeWaypoints=true
				    travelMode="WALKING" as |d|}}
				    {{d.route 
				    	polylineOptions=(hash strokeColor="#e80056" strokeOpacity="1" geodesic=true)
				    	suppressMarkers=false		    	
				    }}
				  {{/g.directions}}
				{{/g-map}}
				<small class="my-2 text-center" style="display: block;background: #FFC107;padding: 10px;font-size: 1rem;"><i data-feather="info" class="icons"></i> Marker A (Ambulans) dan Marker B (Pengguna)</small>
			</div>
		</div>
	</div>
</div>