{{!-- provider/index --}}
<div class="container-fluid mt-4 mb-5">
	<style>
		.alert-info, .alert-danger{
		    position: absolute;
			width: 93%;
		    left: 40px;
		    z-index: 3;
		}
	</style>
	{{#each flashMessages.queue as |flashProvider|}}
	  {{flash-message flash=flashProvider}}
	{{/each}}
	<div class="row">
		{{#if (eq provider.approval 'true')}}
		{{else}}
		<div class="col-12">
			<div class="card text-white mb-4" style="background-color: #44b1e4 !important;">
				<div class="card-body">
				    <h5 class="card-title"><i data-feather="alert-triangle" class="info-circle" style="stroke: white;"></i>Informasi</h5>
				    <p class="card-text" style="font-weight: 400">Status instansi anda belum diapprove oleh administrator, silahkan menunggu 1x24 jam untuk proses approval status instansi 
				    	<a class="btn btn-light btn-sm btn-round" data-toggle="collapse" href="#infoApproval" role="button" aria-expanded="false" aria-controls="collapseExample">
						    Info lebih lanjut
						</a>
					</p>
				</div>
			</div>
			<div class="collapse mb-4" id="infoApproval">
				<div class="card card-body">
				<h6><i data-feather="info" class="info-circle"></i> Informasi seputar approval status pendaftaran instansi</h6>
				<ul style="margin-bottom: 0;">
					<li>Fitur pendaftaran ambulans tidak dapat dilakukan apabila status belum diapprove</li>
					<li>Fitur monitoring ambulans aktif tidak dapat digunakan apabila status belum diapprove</li>
					<li>Fitur monitoring ambulans dalam pelayanan tidak dapat digunakan apabila status belum diapprove</li>
					<li>Proses approve status akan dilakukan oleh administrator dalam kurun waktu <strong>1x24 jam</strong></li>
					<li>Pemberitahuan approval status <strong>akan dikirimkan melalui email</strong> yang digunakan untuk pendaftaran instansi</li>
				</ul>
				</div>
			</div>
		</div>
		{{/if}}
		<div class="col-8">	
			<div class="card mb-4">
				<div class="card-body">
			  	<div class="title-body">
				<i data-feather="info" class="info-circle"></i>
			  	Ringkasan layanan
				</div>
			  	<small class="subtitle-body mb-3">Lihat perkemangan data ambulans secara realtime</small>
			  	<div class="d-flex flex-row">
			  		<div class="panel panel-first" title="Total ambulans yang berstatus aktif">
			  			<span style="font-weight: 400;">Ambulans aktif</span>
			  			<div class="number">
			  			<svg width="50" height="50" fill="none" stroke="rgba(255, 255, 255, 0.21176470588235294)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px; position: absolute; right: 5px; top: 5px;">
						<use xlink:href="/assets/image/feather-sprite.svg#bell"/>
						</svg>
						{{#if parent}}
						{{parent.length}}
						{{else}}
						0
						{{/if}}
			  			{{!-- {{driverActive.length}} --}}
			  			</div>
			  		</div>
			  		<div class="panel" style="background: orange; color: #fff; border-color: orange;" title="Total semua ambulans dari instansi">
			  			<span style="font-weight: 400;">Jumlah ambulans</span>
			  			<div class="number">
			  			<svg width="50" height="50" fill="none" stroke="rgba(255, 255, 255, 0.21176470588235294)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px; position: absolute; right: 5px; top: 5px;">
						<use xlink:href="/assets/image/feather-sprite.svg#users"/>
						</svg>  
			  			{{all_drivers.length}}
				  		</div>
			  		</div>
			  		<div class="panel" style="background: #E91E63; color: #fff; border-color:#E91E63;" title="Total semua pelayanan dari pengemudi ambulans">
			  			<span style="font-weight: 400;">Total pelayanan</span>
			  			<div class="number">
						<svg width="50" height="50" fill="none" stroke="rgba(255, 255, 255, 0.41176470588235294)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px; position: absolute; right: 5px; top: 5px;">
						<use xlink:href="/assets/image/feather-sprite.svg#check-circle"/>
						</svg>
			  			{{totalHistory}}
			  			</div>
			  		</div>
			  	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="card">
						<div class="card-body">
						  <div class="title-body">
							<i data-feather="info" class="info-circle"></i>
						  	Data pengemudi ambulans
							</div>
						  	<small class="subtitle-body mb-3">Daftar pengemudi ambulans</small>
						  	{{#if drivers}}
						  	{{#each drivers as |data|}}
						  	<div class="list">
						  		<picture>
						  		{{#if data.profileImageUrl}}
						  		<img src="{{data.profileImageUrl}}">
						  		{{else}}
					  			{{ember-initials defaultName="Alpine" size=40 }}
						  		{{/if}}
						  		</picture>
						  		<div class="list-body">
							  		<strong>{{data.name}}</strong>
							  		<div>{{data.phone}}</div>
						  		</div>
						  	</div>
						  	{{/each}}
						  	{{else}}
						  	<div class="empty-container">
								<img src="/assets/image/empty_state/empty01.png">
								<div class="title-empty" style="font-size: 1rem;">Daftar ambulans kosong</div>
								{{#if (eq provider.approval 'true')}}
								<span class="subtitle-empty">Silahkan tambahkan ambulans terlebih dahulu untuk melihat semua daftar ambulans</span>
								{{#link-to 'driver.create' tagName='a' class="btn btn-secondary btn-sm"}}Tambah ambulans{{/link-to}}
								{{else}}
								<span class="subtitle-empty">Status instansi anda belum di-approve oleh administrator</span>
								{{/if}}
						  	</div>
						  	{{/if}}
						</div>
						{{#if drivers}}
						<div class="card-footer">
							{{#link-to 'driver' tagName="a" class="text-muted"}}Lihat semua data <i data-feather="arrow-right" class="info-circle"></i>{{/link-to}}
						</div>
						{{/if}}
					</div>
				</div>
				<div class="col-6">
					<div class="card">
						<div class="card-body">
							<div class="title-body">
								<i data-feather="info" class="info-circle"></i>
							  	Informasi instansi
							</div>
						  	<small class="subtitle-body mb-3">Lihat semua data instansi</small>
						  	<h4>{{provider.name}}</h4>
						  	<small>Alamat instansi</small>
						  	<p>{{provider.address}}</p>
						  	<small>Nomor telepon instansi</small>
						  	<p>{{provider.phone}}</p>
						  	<small>Email instansi</small>
						  	<p>{{provider.email}}</p>
						  	<small>Tanggal pembuatan</small>
						  	<p>{{moment-format provider.created_at  'dddd, DD MMMM YYYY'}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="row mb-4">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="title-body">
								<i data-feather="info" class="info-circle"></i>
							  	Pelayanan ambulans
							</div>
							<small class="subtitle-body mb-3">Grafik jumlah pelayanan</small>
							{{#if noData}}
							<div class="empty-container">
								<img src="/assets/image/empty_state/empty06.png">
								<div class="title-empty" style="font-size: 1rem;">Data kosong</div>
								<span class="subtitle-empty">Belum ada data pelayanan ambulans dari instansi ini</span>
						  	</div>
							{{else}}
							{{ember-chart type='doughnut' data=chartData options=optionChart width=200 height=200}}
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
						 <div class="mb-2">
							{{!-- <img src="/assets/image/logo.svg" class="logo-explanation"> --}}
							<h5 class="card-title">Layanan aplikasi alpine</h5>
						 </div>
							<hr>
							<small style="display: block; margin-bottom: 10px;">Dapatkan aplikasi android untuk ambulans dengan mendownload di play store</small>
							<img src="https://d1a3f4spazzrp4.cloudfront.net/uber-com/1.3.8/d1a3f4spazzrp4.cloudfront.net/illustrations/app-store-google-4d63c31a3e.svg" style="width: 100px;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{!-- <h1>{{ model.address }}</h1>
<h1>{{ model.id }}</h1> --}}