<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Informasi administrator alpine</div>
			<div class="subtitle-menu text-muted mb-4">
				Lihat detail data administrator alpine
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    {{!-- <li class="breadcrumb-item">{{#link-to 'driver' tagName="a"}}Daftar ambulans{{/link-to}}</li> --}}
			    <li class="breadcrumb-item active" aria-current="page">Detail informasi</li>
			  </ol> 
			</nav> 
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card mb-4">
				<div class="card-body">
					<div class="title-body">
					<i data-feather="info" class="info-circle"></i>
				  	Informasi admin
					</div>
				  	<small class="subtitle-body mb-3">Lihat detail data tentang administrator</small>
				  	<div class="d-flex flex-row">
						<div class="container-detail-image">
							<img src="{{model.profileImageUrl}}" style="detail-img">
							{{#if model.isEdit}}
							<button class="btn btn-primary btn-sm btn-block" disabled>Edit informasi</button>
							{{else}}
							<button {{action 'editProfile' model}} class="btn btn-primary btn-sm btn-block">Edit informasi</button>
							{{/if}}
						</div>
						<div class="container-detail-content">
							{{#if model.isEdit}}
							<label>Nama lengkap</label>
							{{input type="string" class="form-control" value=model.name}}
							<label>Alamat</label>
							{{input type="string" class="form-control" value=model.address}}
							<label>Nomor telepon</label>
							{{input type="string" class="form-control" value=model.phone}}
							<button {{action 'updateProfile' model}} class="btn btn-primary btn-sm mt-3">Simpan</button>
							<button {{action 'cancleUpdate' model}} class="btn btn-secondary btn-sm mt-3">Batal</button>
							{{else}}
							<h4>{{model.name}}</h4>
							<hr>
							<small>Alamat</small>
							<p>{{model.address}}</p>
							<small>Nomor telepon</small>
							<p>{{model.phone}}</p>
							<small>Alamat email</small>
							<p>{{model.email}}</p>
							<small>Tanggal dibuat</small>
							<p>{{moment-format created_at 'dddd, DD MMMM YYYY | hh:mm A'}}</p>
							{{/if}}
						</div>
				  	</div>
				</div>
			</div>	
		</div>
	</div>
</div>