<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Kelola halaman peraturan</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data instansi dan dapatkan hasil secara realtime
			</div>
			<hr>
			<div class="mt-3">
				{{#if model.isEditing}}
				<span class="btn btn-success btn-sm mb-3" style="cursor: default;">Perbarui konten halaman peraturan</span>
				{{else}}
				<span class="btn btn-warning btn-sm mb-3" style="cursor: default;">Preview halaman peraturan</span>
				{{/if}}
				<style>
					span{ font-family: 'Fira Sans' !important; }
					h2{ margin-bottom: 0px; font-size: 1.7rem; }
				</style>
				{{#if model.isEditing}}
				<div style="border: 1px solid #ddd; margin-bottom: 10px;">
				{{pell-editor value=model.body onChange=(action (mut value))}}	
				</div>
	            <button type="submit" class="btn btn-primary btn-sm" {{action 'saveData' value}}>Simpan perubahan</button>
	            <button class="btn btn-danger btn-sm" {{action 'cancle' model}}>Batal</button>
				{{else}}
				<div class="card" title="Klik untuk update konten" style="cursor: pointer;">
					<div class="card-body">
						<div {{action 'isEditing' model}}>{{{model.body}}}</div>
					</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>