<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Detail pengguna</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item">
			  		{{#link-to 'admin.customer' tagName='a'}}Daftar pengguna{{/link-to}}
			  	</li>
			    <li class="breadcrumb-item active" aria-current="page">Detail pengguna</li>
			  </ol>
			</nav>
		</div>
	</div>
	<style>
		#free{ border-radius: 200px; }
	</style>
	<div class="row">
		<div class="col-4">
			<div class="card">
				<div class="card-body text-center">
					<div class="container-detail">
						{{#if customer.profileImageUrl}}
						<img src="{{customer.profileImageUrl}}" style="border-radius: 200px; width: 200px; height: 200px;object-fit: cover;">
						{{else}}
						{{ember-initials defaultName="AB" size=150 id="free"}}
						{{/if}}
					</div>
					<div class="container-detail">
						<h4 class="mt-3">{{customer.name}}</h4>
						<small>Alamat</small>
						<p>{{customer.address}}</p>
						<small>Nomor telepon</small>
						<p>{{customer.phone}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-8">
			<p><strong>Total permintaan : {{dataHistory.length}}</strong></p>
			{{#if dataHistory}}
			{{#each dataHistory as |h|}}
			<div class="card mb-2">
				<div class="card-body" style="padding: 10px 20px !important">
					<div class="d-flex">
						<div class="mr-5">
							<small>ID Pelayanan</small>
							<p style="margin-bottom: 0px;">{{h.id}}</p>
						</div>
						<div class="mr-5">
							<small>Tanggal</small>
							<p style="margin-bottom: 0px;">{{moment-format h.timestamp 'DD/MM/YYYY'}}</p>
						</div>
						<div class="mr-5">
							<small>Nama driver</small>
							<p style="margin-bottom: 0px;">{{h.driver.name}}</p>
						</div>
						<div class="mr-0">
							{{#link-to 'admin.customer.show' h.id tagName='a' class='btn btn-primary btn-sm'}}
							Detail pelayanan
							{{/link-to}}
						</div>
					</div>
				</div>
			</div>
			{{/each}}
			{{else}}
			<div class="card">
				<div class="card-body">
					<div class="empty-container">
						<img src="/assets/image/empty_state/empty05.png">
						<div class="title-empty">Oops data kosong</div>
						<span class="subtitle-empty">Untuk saat ini tidak ada pelayanan dari ambulans ini</span>
				  	</div>
				</div>
			</div>
			{{/if}}
		</div>
	</div>
</div>