<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Pengguna aplikasi alpine</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data instansi dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item active" aria-current="page">Daftar pengguna</li>
			  </ol>
			</nav>
			{{#if data}}
			<table class="table table-striped mt-3">
				<thead>
					<tr>
						<th width="50">Foto</th>
						<th width="150">Nama</th>
						<th>Alamat</th>
						<th width="150">Nomor telepon</th>
						<th>Jumlah permintaan</th>
						<th>Detail permintaan</th>
					</tr>
				</thead>
				<tbody>
					{{#each data as |d|}}
					<tr>
						<td>
							{{#if d.profileImageUrl}}
							<img src={{d.profileImageUrl}} class="small-photo">
							{{else}}
							<div class="empty-photo">
								{{ember-initials defaultName="AB" size=50 }}
							</div>
							{{/if}}
						</td>
						<td>{{d.name}}</td>
						<td>{{d.address}}</td>
						<td>{{d.phone}}</td>
						<td>{{d.history.length}}</td>
						<td>
							{{#link-to 'admin.customer.detail' d.id tagName='a' class='btn btn-sm btn-primary'}}
								Detail permintaan
							{{/link-to}}
						</td>
					</tr>
					{{else}}
					<tr>
						<td colspan="7">Data ambulans kosong</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{else}}
			tidak
			{{/if}}
		</div>
	</div>
</div>