<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Riwayat permintaan ambulans</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data pengemudi ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item" aria-current="page">{{#link-to 'admin.customer' tagName="a"}}Daftar pengguna{{/link-to}}</li>
			  	<li class="breadcrumb-item" aria-current="page">{{#link-to 'admin.customer.detail' dataHistory.customer.id tagName="a"}}Detail pengguna{{/link-to}}</li>
			    <li class="breadcrumb-item active" aria-current="page">Detail perjalanan</li>
			  </ol>
			</nav>
		</div>
		<div class="col-12">
			<div class="card mb-2">
				<div class="card-body">
					<div class="d-flex flex-row">
						<div style="margin-right: 40px;">
							<picture style="display: inline-block; margin-right: 10px; width: 70px; height: 70px;">
								{{#if dataHistory.driver.profileImageUrl}}
								<img src="{{dataHistory.driver.profileImageUrl}}" style="width: 70px; height: 70px; padding: 5px;">
								{{else}}
								<img src="/assets/image/from.png" style="width: 70px; height: 70px;">
								{{/if}} 
							</picture>
							<div style="display: inline-block;">
								<small>A. Ambulans</small>
								<div style="display: block;">{{dataHistory.driver.name}}</div>
								<div style="display: block;">{{dataHistory.driver.phone}}</div>
							</div>
						</div>
						<div style="margin-right: 40px;">
							<picture style="display: inline-block; margin-right: 10px; width: 70px; height: 70px;">
								{{#if dataHistory.customer.profileImageUrl}}
								<img src="{{dataHistory.customer.profileImageUrl}}" style="width: 70px; height: 70px;     padding: 5px;">
								{{else}}
								<img src="/assets/image/from.png" style="width: 70px; height: 70px;">
								{{/if}} 
							</picture>
							<div style="display: inline-block;">
								<small>B. Pengguna</small>
								<div style="display: block;">{{dataHistory.customer.name}}</div>
								<div style="display: block;">{{dataHistory.customer.phone}}</div>
							</div>
						</div>
						<div style="width: 400px;">
							<small>Lokasi penjemputan</small>
							<div>{{addressCustomer}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-2">
				<div class="card-body">
					<div class="d-flex flex-row">
						<div class="mr-2 flex-grow-1">
							{{!-- <span>Tanggal pelayanan : {{moment-format dataHistory.timestamp  'dddd, DD MMMM YYYY'}}</span> --}}
							<span>Tanggal pelayanan : {{moment-format timestamp  'dddd, DD MMMM YYYY'}}</span>
						</div>
						<div class="mr-2 flex-grow-1">
							{{!-- <span>Waktu pelayanan : {{moment-format dataHistory.timestamp  'hh:mm'}} WIB</span> --}}
							<span>Waktu pelayanan : {{moment-format timestamp 'hh:mm'}} WIB</span>
						</div>
						<div class="mr-2 flex-grow-1">
							<span>Jarak ambulans dengan pengguna : {{dataHistory.distance}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="container-map">
				{{#g-map lat="-7.053037" lng="110.436982" zoom=12 scaleControl=false draggable=true gestureHandling="greedy"  disableDefaultUI=true styles=lightMapStyle as |g|}}
				  {{#g.directions
				    origin=driver
				    destination=customer
					optimizeWaypoints=true
				    travelMode="WALKING" as |d|}}
				    {{d.route 
				    	polylineOptions=(hash strokeColor="#e80056" strokeOpacity="1" geodesic=true)
				    	suppressMarkers=false		    	
				    }}
				  {{/g.directions}}
				{{/g-map}}
				<small class="my-2 text-center" style="display: block;background: #FFC107;padding: 10px;font-size: 1rem;"><i data-feather="info" class="icons"></i> Marker A (Ambulans) dan Marker B (Pengguna)</small>
			</div>
		</div>
	</div>
</div>