<div class="container-fluid mt-4 mb-5">
	<div class="row">		
		<div class="col-12">
			<div class="title-menu">Konfirmasi ambulans</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data pengemudi ambulans dan dapatkan hasil secara realtime
			</div>
			{{!-- <nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item">{{#link-to 'driver' tagName="a"}}Daftar ambulans{{/link-to}}</li>
			    <li class="breadcrumb-item active" aria-current="page">Tambah ambulans</li>
			  </ol>
			</nav> --}}
		</div>
		<div class="col-5">
			<div class="form-group">
				<label>Alamat email</label>
				{{input type="email" class="form-control" value=email autofocus="autofocus"}}
			</div>
			<div class="form-group">
				<label>Password</label>
				{{input type="password" class="form-control" value=password}}
			</div>
			{{input type="hidden" class="form-control" value=session.currentUser.uid}}
			<button class="btn btn-primary" {{action 'signIn'}}>Submit</button>
		</div>
	</div>
</div>