<div class="container-fluid mt-4 mb-5">
	<div class="row">		
		<div class="col-12">
			<div class="title-menu">Tambah ambulans</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data pengemudi ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item">{{#link-to 'driver' tagName="a"}}Daftar ambulans{{/link-to}}</li>
			    <li class="breadcrumb-item active" aria-current="page">Tambah ambulans</li>
			  </ol> 
			</nav>
		</div>
		<div class="col-5">
			<div class="form-group {{if model.isNameLength 'was-validated' 'was-unvalidated'}}">
				<label>Nama pengemudi</label>
				{{input type="text" class="form-control" value=model.name autofocus="autofocus"}}
				{{#if model.name}}
					{{#if model.isNameLength}}
					<div class="valid-feedback">
					{{!-- Looks good! --}}
					</div>
					{{else}}
					<div class="invalid-feedback">
					<span class="input-error">Oops</span>
					Cek nama pengemudi minimal 5 dan maksimal 20
					</div>
					{{/if}}
				{{/if}}
			</div>
			<div class="form-group {{if model.isValidPhone 'was-validated' 'was-unvalidated'}}">
				<label>Nomor telepon</label>
				{{input type="string" class="form-control" value=model.phone}}
				{{#if model.phone}}
					{{#if model.isValidPhone}}
					<div class="valid-feedback">
					{{!-- Looks good! --}}
					</div>
					{{else}}
					<div class="invalid-feedback">
					<span class="input-error">Oops</span>
					Cek kembali penulisan nomor telepon (ex. +6285480640246)
					</div>
					{{/if}}
				{{/if}}
			</div>
			<div class="form-group {{if model.isAddressLength 'was-validated' 'was-unvalidated'}}">
				<label>Alamat rumah</label>
				{{input type="text" class="form-control" value=model.address}}
				{{#if model.address}}
					{{#if model.isAddressLength}}
					<div class="valid-feedback">
					{{!-- Looks good! --}}
					</div>
					{{else}}
					<div class="invalid-feedback">
					<span class="input-error">Oops</span>
					Cek kembali penulisan alamat
					</div>
					{{/if}}
				{{/if}}
			</div>
			<div class="form-group  {{if model.isPlat 'was-validated' 'was-unvalidated'}}">
				<label>Plat nomor ambulans</label>
				{{input type="text" class="form-control" value=model.platNomor}}
				{{#if model.platNomor}}
					{{#if model.isPlat}}
					<div class="valid-feedback">
					{{!-- Looks good! --}}
					</div>
					{{else}}
					<div class="invalid-feedback">
					<span class="input-error">Oops</span>
					Contoh penulisan plat nomor (ex. AA 1234 AA / A 1234 AA / AA 1234 AAA)
					</div>
					{{/if}}
				{{/if}}
			</div>
			<div class="form-group">
				<label style="display: block">Foto pengemudi</label>
				{{input type="file" id="photo" class="form-control"}}
			</div>
			<div class="form-group {{if model.isValidEmail 'was-validated' 'was-unvalidated'}}">
				<label>Alamat email</label>
				{{input type="email" class="form-control" value=model.email}}
				{{#if model.email}}
					{{#if model.isValidEmail}}
					<div class="valid-feedback">
					{{!-- Looks good! --}}
					</div>
					{{else}}
					<div class="invalid-feedback">
					<span class="input-error">Oops</span>
					Cek kembali penulisan email dan alamat email tidak boleh sama
					</div>
					{{/if}}
				{{/if}}
			</div>
			{{input type="hidden" class="form-control" value=session.currentUser.uid}}
			{{#link-to 'driver' tagName="a" class="btn btn-secondary"}}Batal{{/link-to}}
			<button disabled={{model.isDisabled}} class="btn btn-primary" {{action 'createDriver' model}}>Tambah ambulans</button> 
		</div>
		<div class="col-5">
			{{!-- {{session.currentUser.email}} --}}
			<div class="card mb-3">
				<div class="card-header">
					<div><i data-feather="info"></i> Preview data ambulans</div>
				</div>
				<div class="card-body">
					<small class="text-muted">Nama pengemudi</small>
					<h3 class="mb-1" style="font-weight: 300;">{{if model.name model.name '-'}}</h3>
					<small class="text-muted">Nomor telepon</small>
					<p>{{if model.phone model.phone '-'}}</p>
					<small class="text-muted">Alamat rumah</small>
					<p>{{if model.address model.address '-'}}</p>
					<small class="text-muted">Plat nomor ambulans</small>
					<p>{{if model.platNomor model.platNomor '-'}}</p>
					<small class="text-muted">Alamat email</small>
					<p>{{if model.email model.email '-'}}</p>
				</div>
			</div>
			{{#each flashMessages.queue as |flash|}}
				{{flash-message flash=flash}}
			{{/each}}
		</div>
	</div>
</div>