<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">
			Informasi Pengemudi ambulans</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data pengemudi ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item">{{#link-to 'driver' tagName="a"}}Daftar ambulans{{/link-to}}</li>
			    <li class="breadcrumb-item active" aria-current="page">Detail ambulans</li>
			  </ol> 
			</nav> 
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="container-detail-image">
						<img src="{{model.profileImageUrl}}" style="detail-img">
						<span class="detail-plat">{{model.platNomor}}</span>
					</div>
					<div class="container-detail-content">
						<h4>{{model.name}}</h4>
						<hr>
						<small>Alamat</small>
						<p>{{model.address}}</p>
						<small>Nomor telepon</small>
						<p>{{model.phone}}</p>
						<small>Alamat email</small>
						<p>{{model.email}}</p>
						<small>Tanggal dibuat</small>
						<p>{{moment-format model.created_at 'dddd, DD/MM/YYYY | hh:mm A'}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>