<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">
			Pengemudi ambulans</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data pengemudi ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item active" aria-current="page">Daftar ambulans</li>
			  </ol>
			</nav>
			{{!-- {{model.drivers}} --}}
			{{#if model.drivers}}
			<div class="row">
				<div class="col-3">
					{{#link-to 'driver.create' tagName="a" class="btn btn-primary btn-round"}}Tambah pengemudi{{/link-to}}
				</div>
				<div class="col-7">
					{{#each flashMessages.queue as |flash|}}
					  {{flash-message flash=flash}}
					{{/each}}
				</div>
				<div class="col-2 text-right">
					<span class="btn btn-secondary btn-round" style="cursor: default !important;">Total : <span class="badge badge-light">{{model.drivers.length}}</span></span>
				</div>
			</div>
			{{/if}}
		</div>
	</div>
	<div class="row">
		<div class="col-12">
		{{#if model.drivers}}
		<table class="table table-striped mt-3">
			<thead>
				<tr>
					<th>Foto</th>
					<th>Nama pengemudi</th>
					<th>Nomor telepon</th>
					{{!-- <th>Alamat</th> --}}
					{{!-- <th>Plat nomor</th> --}}
					<th>Kode aktivasi</th>
					<th>Tanggal dibuat</th>
					<th>Pilihan</th>
				</tr>
			</thead>
			<tbody>
				{{#each model.drivers as |d|}}
				<tr>
					<td>
						{{#if d.profileImageUrl}}
						<img src={{d.profileImageUrl}} class="small-photo">
						{{else}}
						<div class="empty-photo">
							{{ember-initials defaultName="AB" size=50 }}
						</div>
						{{/if}}
					</td>
					<td>{{d.name}}</td>
					<td>{{d.phone}}</td>
					{{!-- <td>{{d.address}}</td> --}}
					{{!-- <td>{{d.platNomor}}</td> --}}
					<td>{{d.code}}</td>
					<td>{{moment-format d.created_at  'DD/MM/YYYY'}}</td>
					<td>
						{{#link-to 'driver.detail' d.id tagName="a" class="btn btn-primary btn-sm"}}Detail{{/link-to}}
						{{#link-to 'driver.edit' d.id tagName="a" class="btn btn-success btn-sm"}}Edit{{/link-to}}
						<button title="Kirim kode aktivasi ke email pengemudi" class="btn btn-warning btn-sm" {{action 'sendVerificationCode' d}} >Kirim kode aktivasi</button>
					</td>
				</tr>
				{{else}}
				<tr>
					<td colspan="7">Data ambulans kosong</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		{{else}}
		<div class="empty-container">
			<div class="card">
				<div class="card-body">
				<img src="/assets/image/empty_state/empty03.png">
				<div class="title-empty">Data ambulans kosong</div>
				{{#if (eq model.provider.approval 'true')}}
				<span class="subtitle-empty">Silahkan tambahkan ambulans terlebih dahulu untuk melihat semua daftar ambulans</span>
				{{#link-to 'driver.create' tagName='a' class="btn btn-secondary btn-sm"}}Tambah ambulans{{/link-to}}
				{{else}}
				<div class="alert alert-danger mx-5" style="opacity: 1; display: block;">
				<h6>Untuk saat ini anda belum bisa mendaftarkan pengemudi ambulans</h6>
				Status instansi anda belum diapprove oleh administrator, silahkan tunggu proses approval dalam 1x24 jam
				</div>
				{{/if}}
				</div>
			</div>
	  	</div>
		{{/if}}
	
			{{!-- {{models-table 
		        data=data
		        columns=columns
		    }} --}}
		</div>
	</div>
</div>