<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Alpine</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/mape.css">

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500" rel="stylesheet">

    <script src="/assets/js/feather.js"></script>
    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}
    
    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/mape.js"></script>
    

    {{content-for "body-footer"}}
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    
  </body>
</html>
