<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Detail ambulans</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item">
			  		{{#link-to 'admin.ambulance' tagName='a'}}Daftar ambulans{{/link-to}}
			  	</li>
			    <li class="breadcrumb-item active" aria-current="page">Detail ambulans</li>
			  </ol>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<div class="card">
				<div class="card-body text-center">
					<div class="container-detail">
						<img src="{{driver.profileImageUrl}}" style="border-radius: 200px; width: 200px; height: 200px; object-fit: cover;">
					</div>
					<div class="container-detail">
						<h4 class="mt-3">{{driver.name}}</h4>
						<small>Alamat</small>
						<p>{{driver.address}}</p>
						<small>Nomor telepon</small>
						<p>{{driver.phone}}</p>
						<small>Alamat email</small>
						<p>{{driver.email}}</p>
						<small>Tanggal dibuat</small>
						<p>{{moment-format driver.created_at 'dddd, DD/MM/YYYY | hh:mm A'}}</p>
						<span class="detail-plat">{{driver.platNomor}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-8">
			<p><strong>Total pelayanan : {{dataHistory.length}}</strong></p>
			{{#if dataHistory}}
			{{#each dataHistory as |h|}}
			<div class="card mb-2">
				<div class="card-body" style="padding: 10px 20px !important">
					<div class="row">
						<div class="col-sm col-md">
							<small>ID Pelayanan</small>
							<p style="margin-bottom: 0px;">{{h.id}}</p>
						</div>
						<div class="col-sm col-md">
							<small>Tanggal</small>
							<p style="margin-bottom: 0px;">{{moment-format h.timestamp 'DD/MM/YYYY'}}</p>
						</div>
						<div class="col-sm col-md align-middle">
							{{#link-to 'admin.ambulance.show' h.id tagName='a' class='btn btn-primary btn-sm align-middle'}}
							Detail pelayanan
							{{/link-to}}
						</div>
					</div>
				</div>
			</div>
			{{/each}}
			{{else}}
			<div class="card">
				<div class="card-body">
					<div class="empty-container">
						<img src="/assets/image/empty_state/empty05.png">
						<div class="title-empty">Oops data kosong</div>
						<span class="subtitle-empty">Untuk saat ini tidak ada pelayanan dari ambulans ini</span>
				  	</div>
				</div>
			</div>
			{{/if}}
		</div>
	</div>
</div>