<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Daftar semua ambulans</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	{{!-- <li class="breadcrumb-item">
			  		{{#link-to 'admin.provider' tagName='a'}}Daftar ambulans{{/link-to}}
			  	</li> --}}
			    <li class="breadcrumb-item active" aria-current="page">Daftar ambulans</li>
			  </ol>
			</nav>
			
			<table class="table table-striped mt-3">
				<thead>
					<tr>
						<th>Foto</th>
						<th>Nama pengemudi</th>
						<th>Nomor telepon</th>
						<th>Instansi</th>
						<th>Pelayanan</th>
						<th>Tanggal dibuat</th>
						<th>Pilihan</th>
					</tr>
				</thead>
				<tbody>
					{{#each model as |d|}}
					<tr>
						<td>
							{{#if d.profileImageUrl}}
							<img src={{d.profileImageUrl}} class="small-photo">
							{{else}}
							<div class="empty-photo">
								{{ember-initials defaultName="AB" size=50 }}
							</div>
							{{/if}}
						</td>
						<td>{{d.name}}</td>
						<td>{{d.phone}}</td>
						<td>{{d.providerId.name}}</td>
						<td>{{d.history.length}}</td>
						<td>{{moment-format d.created_at  'DD/MM/YYYY'}}</td>
						<td>
							{{#link-to 'admin.ambulance.detail' d.id tagName='a' class="btn btn-primary btn-sm"}}
							Detail
							{{/link-to}}
						</td>
					</tr>
					{{else}}
					<tr>
						<td colspan="7">Data ambulans kosong</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			
		</div>
	</div>
</div>