<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Instansi penyedia ambulans</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data instansi dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item">
			  		{{#link-to 'admin.provider' tagName='a'}}Daftar instansi{{/link-to}}
			  	</li>
			    <li class="breadcrumb-item active" aria-current="page">Detail instansi</li>
			  </ol>
			</nav>
			<hr>
			<h3 class="mb-3">
				<svg width="25" height="25" fill="none" stroke="#ddd" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;">
				<use xlink:href="/assets/image/feather-sprite.svg#info"/>
				</svg>
			{{model.name}}
			</h3>
			<div class="card mb-4">
				<div class="card-body">
					<div class="d-flex">
						<div style="width: 550px;margin-right: 40px;">
							<small>Alamat</small>
							<div>{{model.address}}</div>
						</div>
						<div style="margin-right: 40px;">
							<small>Telepon</small>
							<div>{{model.phone}}</div>
						</div>
						<div style="width: 100px;margin-right: 40px;">
							<small>Tanggal daftar</small>
							<div>{{moment-format model.created_at  'DD/MM/YYYY'}}</div>
						</div>
						<div style="margin-right: 40px;">
							<small>Ambulans terdaftar</small>
							<span class="btn btn-primary btn-sm">Total ambulans <div class="badge badge-light">{{model.drivers.length}}</div></span>
						</div>
					</div>
				</div>
			</div>
			
			<h5>Daftar ambulans</h5>
			<table class="table table-striped mt-3">
				<thead>
					<tr>
						<th>Foto</th>
						<th>Nama pengemudi</th>
						<th>Nomor telepon</th>
						<th>Kode aktivasi</th>
						<th>Pelayanan</th>
						<th>Tanggal dibuat</th>
					</tr>
				</thead>
				<tbody>
					{{#each model.drivers as |d|}}
					<tr>
						<td>
							{{#if d.profileImageUrl}}
							<img src={{d.profileImageUrl}} class="small-photo">
							{{else}}
							<div class="empty-photo">
								{{ember-initials defaultName="AB" size=50 }}
							</div>
							{{/if}}
						</td>
						<td>{{d.name}}</td>
						<td>{{d.phone}}</td>
						<td>{{d.code}}</td>
						<td>{{d.history.length}}</td>
						<td>{{moment-format d.created_at  'DD/MM/YYYY'}}</td>
					</tr>
					{{else}}
					<tr>
						<td colspan="7">Data ambulans kosong</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			
		</div>
	</div>
</div>