<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Instansi penyedia ambulans</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data instansi dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item active" aria-current="page">Daftar instansi</li>
			  </ol>
			</nav>
			{{#each flashMessages.queue as |flash|}}
			  {{flash-message flash=flash}}
			{{/each}}
			{{#if data}}
			<table class="table table-striped mt-3">
				<thead>
					<tr>
						<th width="200">Nama instansi</th>
						<th width="150">Nomor telepon</th>
						<th>Status</th>
						<th>Jumlah ambulans</th>
						<th width="150">Tanggal dibuat</th>
						<th>Pilihan</th>
					</tr>
				</thead>
				<tbody>
					{{#each data as |d|}}
					<tr>
						<td>{{d.name}}</td>
						<td>{{d.phone}}</td>
						<td>
							{{#if (eq d.approval 'true')}}
							<span class="btn btn-success btn-sm">Sudah diapprove</span>
							{{else}}
							<span class="btn btn-danger btn-sm">Belum diapprove</span>
							{{/if}}
						</td>
						<td>{{d.drivers.length}}</td>
						<td>{{moment-format d.created_at  'DD/MM/YYYY'}}</td>
						<td>
							{{#link-to 'admin.provider.detail' d.id tagName="a" class="btn btn-primary btn-sm"}}Detail{{/link-to}}
							{{#if (eq d.approval 'true')}}
							<button class="btn btn-secondary btn-sm btn-" disabled>Approve</button>
							{{else}}
							<button {{action 'approveProvider' d.id}} class="btn btn-success btn-sm">Approve</button>
							{{/if}}
						</td>
					</tr>
					{{else}}
					<tr>
						<td colspan="7">Data ambulans kosong</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{else}}
			tidak
			{{/if}}
		</div>
	</div>
</div>