{{partial 'navbar'}}
<div class="d-flex">
	<div class="header-top">
		<div class="title-header">Alpine Blog</div>
		<small>Dapatkan informasi menarik dan tambah pengetahuan</small>
	</div>
</div>
<div class="container" style="margin-top: 50px;margin-bottom: 50px;">
	{{#each model as |d|}}
	{{#if (eq d.status 'Published')}}
	<div class="row">
		<div class="col-8 ml-auto mr-auto">
			<style type="text/css">
				a, a:hover, a:focus, a:active{
					text-decoration: none;
					color: black;
				}
			</style>
			{{#link-to 'blog.show' d.id tagName="a"}}
			<div class="card" style="margin-bottom: 40px;">
				<div class="card-body">
					<picture style="display: inline-block; width: 50px; height: 50px;">
						<img src="{{d.owner.profileImageUrl}}" style="border-radius: 100px; width: 50px; height: 50px; object-fit: center">
					</picture>
					<div style="display: inline-block; width: 300px; vertical-align: top">
						<span style="display: block">{{d.owner.name}}</span>
						<span style="display: block; color: #ACACAC;">Admin alpine &#183; {{moment-format d.createdAt  'DD MMM YYYY'}} &#183; {{moment-format d.createdAt  'hh:mm'}} WIB</span>
					</div>
					<h3 style="margin: 30px 0">{{d.title}}</h3>
					<img src="{{d.headerImage}}" style="width:  100%;height: 200px;object-fit: cover;margin-bottom: 30px">
					<svg width="20" height="20" fill="none" stroke="#808080" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 5px;">
					<use xlink:href="assets/image/feather-sprite.svg#bookmark"/>
					</svg>
					{{d.comments.length}}
					<svg width="20" height="20" fill="none" stroke="#808080" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 5px; margin-left: 10px;">
					<use xlink:href="assets/image/feather-sprite.svg#heart"/>
					</svg>
					{{d.applause}}	
				</div>
			</div>
			{{/link-to}}
		</div>
	</div>
	{{/if}}
	{{/each}}
</div>
{{partial 'footer'}}