{{partial 'navbar'}}
<div class="container">
	<div class="row mt-5">
		<div class="col-8 ml-auto mr-auto">
			<picture style="display: inline-block; width: 50px; height: 50px;">
				<img src="{{model.owner.profileImageUrl}}" style="border-radius: 100px; width: 50px; height: 50px; object-fit: center">
			</picture>
			<div style="display: inline-block; width: 300px; vertical-align: top">
				<span style="display: block">{{model.owner.name}}</span>
				<span style="display: block; color: #ACACAC;">Admin alpine &#183; {{moment-format model.createdAt  'DD MMM YYYY'}} &#183; {{moment-format model.createdAt  'hh:mm'}} WIB</span>
			</div>
			<h1 style="margin: 30px 0">{{model.title}}</h1>
		</div>
	</div>
</div>
<div class="d-flex">
	<div class="header-image">
		<img src="{{model.headerImage}}" style="height: 500px; width: 100%; object-fit: cover;">
	</div>
</div>
<div class="container">
	<div class="row mt-5 mb-5">
		<div class="col-8 ml-auto mr-auto">
			<div class="content-blog">
				{{{model.body}}}
			</div>
			<div class="d-flex" style="margin: 50px 0">
				<div class="flex-fill">
					<svg width="50" height="50" fill="none" stroke="#a2a2a2" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 10px;padding: 10px; border-radius: 200px; border: 1px solid #a2a2a2;">
					<use xlink:href="/assets/image/feather-sprite.svg#bookmark"/>
					</svg>
					<span  style="font-size: 1.2rem">{{model.comments.length}}</span>
				</div>
				<div class="flex-fill">
					<div class="text-right">
						<span  style="font-size: 1.2rem">{{isPress}}{{model.applause}}</span>
						<button {{action 'applause' model}} class="btn-clear" title="Saya suka blog ini">
							<svg width="50" height="50" fill="none" stroke="red" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" class="birdy">
							<use xlink:href="/assets/image/feather-sprite.svg#heart"/>
							</svg>
						</button>
					</div>
				</div>
			</div>
			<div class="commentary">
				<div class="commentary-title">Tambah komentar</div>
				{{input type="hidden" value=model.id}}
				{{input type="text" class="form-control" value=name placeholder="Nama anda"}}
				{{textarea type="text" class="form-control" value=body placeholder="Komentar anda" height="300px"}}
				<button {{action 'submitComment' name body model}} class="btn btn-secondary btn-sm btn-block">Tulis komentar</button>
			</div>
			<hr style="width: 100px; border: 2px solid #9e9e9e; margin: 50px 0;">
			<div class="commentary-title">Komentar tentang artikel ini</div>
			<ul style="-webkit-padding-start: 0px;">
			{{#each model.comments as |c|}}
				<li class="list-commentary">
					<small><strong>{{c.name}}</strong><span style="color: #939393"> &#183; {{moment-format c.createdAt  'DD MMM YYYY'}}</span></small>
					<p style="white-space: pre-line; margin: 0; font-size: 1rem;">{{c.body}}</p>
					{{#if c.replies}}
					<hr style="width: 40px;border: 2px solid #9e9e9e;margin: 15px 0;">
					<small style="color: #C0C0C0">Balasan admin</small>
					<ul style="margin-bottom: 0;">
						{{#each c.replies as |reply|}}
							<li>
							<small style="color: white;background: #8BC34A;padding: 2px 6px;border-radius: 3px;">Admin</small> <small style="color: #929292">({{reply.name}})</small><br>
							{{reply.body}}<br>
							<small style="color: #929292">{{moment-format reply.createdAt  'DD MMM YYYY hh:mm'}}</small>
							</li>
						{{/each}}
					</ul>
					{{/if}}
				</li>
			{{else}}
				<div class="list-commentary-empty">Komentar masih kosong</div>
			{{/each}}
			</ul>
		</div>
	</div>
</div>
{{partial 'footer'}}