<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Riwayat pelayanan ambulans</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data pengemudi ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb"> 
			  	<li class="breadcrumb-item" aria-current="page">{{#link-to 'history' tagName="a"}}Daftar pelayanan ambulans{{/link-to}}</li>
			    <li class="breadcrumb-item active" aria-current="page">Riwayat layanan</li>
			  </ol>
			</nav>
		</div>

		<div class="col-3">
			<div class="card" style="margin-bottom: 20px;">
				<div class="card-body text-center">
					<picture class="pic-active"  style="width: 100%; height: 120px; margin-bottom: 20px; text-align: center;">
						<img src="{{driver.profileImageUrl}}" style="width: 120px; height: 120px;">
					</picture>
					<div class="mb-3">
						<small>Nama pengemudi</small>
						<h6 style="margin-bottom: 5px;">{{driver.name}}</h6>
					</div>
					<div class="mb-3">
						<small>Nomor telepon</small>
						<p style="margin-bottom: 0;">{{driver.phone}}</p>
					</div>
					<div class="mb-3">
						<small>Plat nomor</small>
						<p style="margin-bottom: 0;">{{driver.platNomor}}</p>
					</div>
					{{!-- <div class="mb-3">
						<small>Jumlah pelayanan</small>
						<p>789</p>
					</div> --}}
					<hr>
					{{#link-to 'history' tagName="a" class="btn btn-secondary btn-block"}}Kembali{{/link-to}}
				</div>
			</div>
		</div>
		{{#if driver.history}}
		<div class="col-9">
			<div class="row mb-2">
				<div class="col-6">
					<p>Riwayat pelayanan ambulans</p>
				</div>
				<div class="col-6 text-right">
				  Total pelayanan <span class="badge badge-secondary" style="font-size: 1rem;">{{driver.history.length}}</span>
				</div>
			</div>
			{{#each dataHistory as |h|}}
			<div class="card mb-2">
				<div class="card-body">
					<div class="d-flex flex-row">
						<div class="mr-2 active-class">
							<small style="display: block; color: #A8A8A8;">ID Layanan</small>
							<span>{{h.id}}</span>
						</div>
						<div class="mr-2 active-class flex-grow-1">
							<small style="display: block; color: #A8A8A8;">Tanggal pelayanan</small>
							<span>{{moment-format h.timestamp  'dddd, DD MMMM YYYY'}}</span>
						</div>
						<div class="mr-2 active-class" style="width: 150px;">
							<small style="display: block; color: #A8A8A8;">Waktu</small>
							<span>{{moment-format h.timestamp  'hh:mm'}} WIB</span>
						</div>
						<div  class="active-class">
							<small style="display: block; color: #A8A8A8;">Lihat pelayanan</small>
							{{#link-to 'history.show' h.id tagName="a" class="btn btn-primary btn-sm"}}
								Detail pelayanan
							{{/link-to}}
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>	
		{{else}}
		<div class="col-9">
			<div class="row mb-2">
				<div class="col-6">
					<p>Riwayat pelayanan ambulans</p>
				</div>
				<div class="col-6 text-right">
				  Total pelayanan <span class="badge badge-secondary" style="font-size: 1rem;">{{driver.history.length}}</span>
				</div>
			</div>
			<div class="card mb-2">
				<div class="card-body">	
					<div class="empty-container">
						<img src="/assets/image/empty_state/empty05.png">
						<div class="title-empty">Oops data kosong</div>
						<span class="subtitle-empty">Untuk saat ini tidak ada pelayanan dari ambulans ini</span>
				  	</div>	
				</div>
			</div>
		</div>
		{{/if}}
	</div>
</div>