<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Riwayat pelayanan ambulans</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data pengemudi ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item active" aria-current="page">Daftar pelayanan ambulans</li>
			  </ol>
			</nav>
		</div>
		<div class="col-11">
			{{#if datas}}
			{{#each datas as |d|}}
			{{!-- {{#each d.history as |h|}}
				{{h.id}}
			{{/each}} --}}	
			{{!-- <h3>{{d.name}}</h3> --}}
			<div class="card" style="margin-bottom: 15px;">
				<div class="card-body">
					<div class="d-flex flex-row">
						<div class="mr-2">
						<picture class="pic-active">
							<img src="{{d.profileImageUrl}}">
						</picture> 
						</div>
						<div class="mr-2 active-class">
							<small>Nama pengemudi</small>
							<p style="margin-bottom: 5px; font-weight: 300;">{{d.name}}</p>
						</div>
						<div class="mr-2 active-class">
							<small>Nomor telepon</small>
							<p style="margin-bottom: 0;">{{d.phone}}</p>
						</div>
						<div class="mr-2 active-class">
							<small>Pelayanan</small>
							<div class="btn btn-light btn-sm" style="background: #e2e2e2 !important;">
							  Jumlah pelayanan <span class="badge badge-primary" style="font-size: 1rem;">{{d.history.length}}</span>
							</div>
						</div>
						<div class="mr-2 active-class">
							<small>Lihat data pelayanan</small>
							{{#link-to 'history.detail' d.id tagName="a" title="Lihat detail pelayanan" class="btn btn-warning  btn-sm"}}
							Detail pelayanan
							{{/link-to}}
						</div>
					</div>
				</div>
			</div>
			{{/each}}
			{{else}}
			<div class="card">
				<div class="card-body">
				<div class="empty-container">
					<img src="/assets/image/empty_state/empty06.png">
					<div class="title-empty">Tidak ada riwayat pelayanan</div>
					<span class="subtitle-empty">Untuk saat ini tidak ada ambulans yang sedang bertugas</span>
			  	</div>	
				</div>
			</div>
			{{/if}}
		</div>
	</div>
</div>