{{partial 'navbar'}}
<div class="d-flex">
	<div class="header-top">
		<div class="title-header">Peraturan penggunaan</div>
		<small>Dapatkan informasi tentang peraturan bagi pengguna</small>
	</div>
</div>
<div class="container">
	<div class="row mx-5 my-lg">
		<style>
			span{ font-family: 'Fira Sans' !important; font-size: 1rem; line-height: 2;}
			h2{ margin-bottom: 0px; font-size: 1.7rem; }
		</style>
		<hr>
		<div class="col-12">
			{{{model.body}}}
		</div>
	</div>
</div>
{{partial 'footer'}}