<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Lokasi ambulans aktif</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data pengemudi ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item" aria-current="page">{{#link-to 'active-ambulance' tagName="a"}}Daftar ambulans aktif{{/link-to}}</li>
			    <li class="breadcrumb-item active" aria-current="page">Lokasi ambulans</li>
			  </ol>
			</nav>
		</div>

		<div class="col-3">
			<div class="card text-center" style="margin-bottom: 20px;">
				<div class="card-body">
					<picture class="pic-active"  style="width: 100%; height: 120px; margin-bottom: 20px;">
						<img src="{{driver.profileImageUrl}}" style="width: 120px; height: 120px;">
					</picture>
					<div class="mb-3">
						<small>Nama pengemudi</small>
						<h6 style="margin-bottom: 5px;">{{driver.name}}</h6>
					</div>
					<div class="mb-3">
						<small>Nomor telepon</small>
						<p style="margin-bottom: 0;">{{driver.phone}}</p>
					</div>
					<div class="mb-3">
						<small>Plat nomor</small>
						<p style="margin-bottom: 0;">{{driver.platNomor}}</p>
					</div>
					<div class="mb-3">
						<small style="display: block;">Status</small>
						{{!-- <p style="margin-bottom: 0;">{{driver.platNomor}}</p> --}}
						<span class="btn btn-warning btn-sm">Ambulans aktif</span>
					</div>
					<hr>
					{{#link-to 'active-ambulance' tagName="a" class="btn btn-secondary btn-block"}}Kembali{{/link-to}}
				</div>
			</div>
		</div>
		<div class="col-9">
			<div class="container-map mb-2 p-3">
				<div class="d-flex flex-row">
					<div style="width: 60%">
						<span class="text-muted mb-1" style="display: block;"><i data-feather="alert-circle" class="icons" style="margin-right: 5px;"></i>Lokasi ambulans</span>
						 {{address}}
					</div>
					<div>
						<span class="text-muted mb-1" style="display: block;"><i data-feather="alert-circle" class="icons" style="margin-right: 5px;"></i>Koordinat ambulans</span>
						<span>{{lat}}, {{lng}}</span>
					</div>
				</div>
			</div>
			<div class="container-map">
			{{#g-map lat=lat lng=lng zoom=17 scaleControl=false draggable=true gestureHandling="greedy"  disableDefaultUI=true styles=lightMapStyle zoomControlOptions=(hash position=google.maps.ControlPosition.LEFT_CENTER) as |g|}}
				{{!-- {{g.marker
			      lat=lat
			      lng=lng
			      icon="https://firebasestorage.googleapis.com/v0/b/realtime-realtime.appspot.com/o/Webp.net-resizeimage.png?alt=media&token=7b708cc2-0d2f-41f9-b88b-0981656ebe15"
			  	  }} --}}
			  	  {{#g.overlay lat=lat lng=lng}}
				        {{!-- <img src="https://firebasestorage.googleapis.com/v0/b/realtime-realtime.appspot.com/o/Webp.net-gifmaker%20(1).gif?alt=media&token=68151c6a-7c8c-440d-9749-417a8d4a3f44"> --}}
				        <div class="tooltipe">
					        <img class="image" src="{{driver.profileImageUrl}}">
					        <div class="spane">
						      	<span>{{driver.name}}</span>
						      	<span style="font-size: 0.65rem; display: block; color: #A0A0A0;">{{driver.platNomor}}</span>
					        </div>
						</div>
				    {{/g.overlay}}
			  	  {{#g.control position="TOP_RIGHT"}}
				    <div class="map-control">
				      <button {{action "recenterMap" g.map lat lng}} role="button" class="btn btn-warning m-2">
				        Pusatkan ambulans
				      </button>
				    </div>
				  {{/g.control}}
			  {{!-- {{#g.directions
			    origin="-7.058385, 110.4298883"
			    destination="-7.053037, 110.438945"
				optimizeWaypoints=true
			    travelMode="WALKING" as |d|}}
			    {{d.route 
			    	polylineOptions=(hash strokeColor="#e80056" strokeOpacity="1" geodesic=true)
			    	suppressMarkers=false		    	
			    }}
			  {{/g.directions}} --}}
			{{/g-map}}
			</div>
		</div>
		
	</div>
	{{!-- {{#if active}}
		true<br>
		{{active.providerId}}
		{{#each active as |a|}}
			<h3>{{a.providerId}}</h3>
			<p>{{a.l.[0]}}</p>
			<p>{{a.l.[1]}}</p>
			<hr>
		{{/each}}
	{{else}}
		false
	{{/if}}
	<br><br><br>
	{{#if detail}}
	true
	{{#each detail as |d|}}
		<h3>{{d.name}}</h3>
	{{/each}}
	{{else}}
	false
	{{/if}} --}}
</div>