<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Ambulans aktif untuk bertugas</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data pengemudi ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item active" aria-current="page">Daftar ambulans aktif</li>
			  </ol>
			</nav>
		</div>
		{{!-- {{#if allData}} --}}
		<div class="col-12 mb-3">
			<div class="container-map">
				{{!-- {{g-maps name="my-map" lat=lat lng=lng zoom=zoom disableDefaultUI=true}} --}}
			{{#g-map lat="-7.048806" lng=" 110.438118" zoom=13 scaleControl=false draggable=true disableDefaultUI=true styles=lightMapStyle zoomControlOptions=(hash position=google.maps.ControlPosition.LEFT_CENTER) as |g|}}
				{{#each parent as |driver|}}
				{{#g.marker
					lat=driver.lat
					lng=driver.lng
					onClick=(action 'onClick')}}
					{{/g.marker}}
					{{!-- {{#g.overlay lat=driver.lat lng=driver.lng}}
						<div class="tooltipe m-2">
							<img src="{{driver.profileImageUrl}}">
							<div class="spane">
								<span>{{driver.name}}</span>
								<span style="font-size: 0.65rem; display: block; color: #A0A0A0;">{{driver.platNomor}}</span>
							</div>
						</div>
					{{/g.overlay}} --}}
				{{/each}}
				{{#g.control position="TOP_RIGHT"}}
				    <div class="map-control">
				    	<btn class="btn btn-warning m-2">Ambulans aktif : 
				    	{{#if parent}}
				    	{{parent.length}}
				    	{{else}}
						0
				    	{{/if}}
				    	</btn>
				    </div>
				  {{/g.control}}
			{{/g-map}}
		</div>
		</div>
		{{!-- {{/if}} --}}

		<div class="col-12">
			{{#if parent}}
			<hr>
			<div class="title-menu">Daftar ambulans aktif</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data pengemudi ambulans dan dapatkan hasil secara realtime
			</div>
			{{/if}}
			{{!-- <div class="row">
				<div class="col-6">
					<h1>{{dataDriver.length}}</h1>
					{{#each dataDriver as |h|}}
						<p>{{h.name}}</p>
						<p>{{h.providerId.name}}</p>
					{{/each}}
				</div>
				<div class="col-6">
					<h1>{{resultActive.length}}</h1>
					{{#each resultActive as |h|}}
						<p>{{h.id}}</p>
						<p>{{h.g}}</p>
					{{/each}}
				</div>
			</div> --}}
			{{!-- {{#each allData as |r|}}
				<h3>{{r.name}}</h3>
				<h3>{{r.location.l.[0]}}</h3>
				<h3>{{r.location.l.[1]}}</h3>
				<hr>
			{{/each}} --}}

			{{#if parent}}
			{{#each parent as |d|}}
			<div class="card" style="margin-bottom: 15px;">
				<div class="card-body">
					<div class="d-flex flex-row">
						<div class="mr-2">
						<picture class="pic-active">
							<img src="{{d.profileImageUrl}}">
						</picture>
						</div>
						<div class="mr-2 active-class">
							<small>Nama pengemudi</small>
							<h6 style="margin-bottom: 5px;">{{d.name}}</h6>
						</div>
						<div class="mr-2 active-class">
							<small>Plat nomor</small>
							<p style="margin-bottom: 0;">{{d.platNomor}}</p>
						</div>
						<div class="active-class">
							<small>Status</small>
							<span class="btn btn-warning btn-sm">Ambulans aktif</span>
						</div>
						{{!-- <div class="ml-auto">
							{{#link-to 'active-ambulance.detail' d.idAvailable tagName="a" title="Lihat lokasi"}}
							<svg width="60" height="60" fill="none" stroke="#B9B9B9" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 80px;">
							<use xlink:href="/assets/image/feather-sprite.svg#arrow-right-circle"/>
							</svg>
							{{/link-to}}
						</div> --}}
					</div>
				</div>
			</div>
			{{/each}}
			{{else}}
			<div class="card">
				<div class="card-body">
				<div class="empty-container">
					<img src="/assets/image/empty_state/empty02.png">
					<div class="title-empty">Tidak ada ambulans yang bertugas</div>
					<span class="subtitle-empty">Untuk saat ini tidak ada ambulans yang sedang bertugas</span>
			  	</div>	
				</div>
			</div>
			{{/if}}
		</div>
	</div>

	{{!-- {{#if active}}
		true<br>
		{{active.providerId}}
		{{#each active as |a|}}
			<h3>{{a.providerId}}</h3>
			<p>{{a.l.[0]}}</p>
			<p>{{a.l.[1]}}</p>
			<hr>
		{{/each}}
	{{else}}
		false
	{{/if}}
	<br><br><br>
	{{#if detail}}
	true
	{{#each detail as |d|}}
		<h3>{{d.name}}</h3>
	{{/each}}
	{{else}}
	false
	{{/if}} --}}
</div>