<nav class="navbar fixed-top flex-md-nowrap p-0" style="background: #fff">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"style="background: #353a40 !important; color: white; font-weight: 600">Alpine</a>
  <div class="w-100" style="color: black; margin-left: 20px;">
    Administrator Alpine
  </div>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link"  style="color: black;" href="" {{action 'signOut'}}>Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-dark sidebar navbar-darker">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">
          <span>Informasi Alpine</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-iteme">
            {{#link-to 'admin.dashboard' tagName="a" class="nav-linke"}}
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            {{/link-to}}
          </li>
          <li class="nav-iteme">
            {{#link-to 'admin.info' tagName="a" class="nav-linke"}}
              <span data-feather="file"></span>
              Informasi admin
            {{/link-to}}
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Informasi Instansi</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-iteme">
            {{#link-to 'admin.provider' tagName="a" class="nav-linke"}}
              <span data-feather="file-text"></span>
              Instansi
            {{/link-to}}
          </li>
          <li class="nav-iteme">
            {{#link-to 'admin.ambulance' tagName="a" class="nav-linke"}}
              <span data-feather="file-text"></span>
              Daftar ambulans
            {{/link-to}}
          </li>
          <li class="nav-iteme">
            {{#link-to 'admin.ambulance-active' tagName="a" class="nav-linke"}}
              <span data-feather="file-text"></span>
              Ambulans aktif
            {{/link-to}}
          </li>
          <li class="nav-iteme">
            {{#link-to 'admin.driver-working' tagName="a" class="nav-linke"}}
              <span data-feather="file-text"></span>
              Pelayanan ambulans
            {{/link-to}}
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Informasi Pengguna</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-iteme">
            {{#link-to 'admin.customer' tagName="a" class="nav-linke"}}
              <span data-feather="file-text"></span>
              Pengguna
            {{/link-to}}
          </li>
        </ul>
         <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Halaman Website</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-iteme">
            {{#link-to 'admin.blog' tagName="a" class="nav-linke"}}
              <span data-feather="file-text"></span>
              Blog
            {{/link-to}}
          </li>
          <li class="nav-iteme">
            {{#link-to 'admin.page.user-information' tagName="a" class="nav-linke"}}
              <span data-feather="file-text"></span>
              Layanan aplikasi
            {{/link-to}}
          </li>
          <li class="nav-iteme">
            {{#link-to 'admin.page.policy.rule' tagName="a" class="nav-linke"}}
              <span data-feather="file-text"></span>
              Peraturan
            {{/link-to}}
          </li>
          <li class="nav-iteme">
            {{#link-to 'admin.page.policy.privacy-policy' tagName="a" class="nav-linke"}}
              <span data-feather="file-text"></span>
              Kebijakan privasi
            {{/link-to}}
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      {{outlet}}
    </main>

  </div>
</div>
<script>feather.replace()</script>