<div class="container-fluid bg-auth-admin">
	<div class="row py-lg">
		<div class="col-5 ml-auto mr-auto" style="max-width: 470px !important;">
			<div class="card text-center" style="box-shadow: 0 3px 5px #00000052 !important;">
				<div class="card-body">
					<img src="/assets/image/logo-dashboard.svg" class="logo-login-admin">
					<span class="subtitle-login-admin">Kelola data semua instansi dan ambulans yang terdaftar di sistem alpine</span>
					{{#each flashMessages.queue as |flash|}}
					  {{flash-message flash=flash}}
					{{/each}}
					<div class="form-group-register mb-3 {{if model.isValidEmail 'was-validated' 'was-unvalidated'}}">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text input-group-custom">
								<svg width="15" height="15" fill="none" stroke="#000" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="">
								<use xlink:href="/assets/image/feather-sprite.svg#mail"/>
								</svg>
								</div>
							</div>
						{{{input type="email" placeholder="Alamat email" value=model.email class="form-control form-group" autofocus="autofocus"}}}
						</div>
						{{#if model.email}}
							{{#if model.isValidEmail}}
							<div class="valid-feedback">
							{{!-- Looks good! --}}
							</div>
							{{else}}
							<div class="invalid-feedback" style="text-align: left !important">
							<span class="input-error">Oops</span>
							Cek kembali penulisan email
							</div>
							{{/if}}
						{{/if}}
					</div>
					<div class="form-group-register {{if model.isValidPassword 'was-validated' 'was-unvalidated'}}">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text input-group-custom">
								<svg width="15" height="15" fill="none" stroke="#000" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="">
								<use xlink:href="/assets/image/feather-sprite.svg#lock"/>
								</svg>
								</div>
							</div>
						{{input type="password" placeholder="Password" value=model.password class="form-control form-group" title="Password minimal 5 karakter"}}
						{{#if model.password}}
							{{#if model.isValidPassword}}
							<div class="valid-feedback">
							{{!-- Looks good! --}}
							</div>
							{{else}}
							<div class="invalid-feedback" style="text-align: left !important">
							<span class="input-error">Oops</span>
							Password minimal 5 karakter
							</div>
							{{/if}}
						{{/if}}
						</div>
					</div>
					<button disabled={{model.isDisabledSignIn}} class="btn btn-primary btn-block" style="margin-top: 20px; padding: .8rem;" {{action 'signIn'}}>Masuk</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{partial 'footer'}}