{{partial 'navbar'}}
<div class="d-flex">
	<div class="header-top">
		<div class="title-header">Informasi pengguna</div>
		<small>Temukan berbagai fitur terbaru dari alpine</small>
	</div>
</div>
<div class="container">
	<div class="row mx-5 my-lg">
		<style>
			span{ font-family: 'Fira Sans' !important; font-size: 1rem; line-height: 2;}
			h2{ margin-bottom: 0px; font-size: 1.7rem; }
		</style>
		<hr>
		<div class="col-12">
			
		{{{about.body}}}
		<br><hr><br>
		{{{service.body}}}
		<br><hr><br>
		{{{provider.body}}}
		<br><br>
		{{{driver.body}}}
		<br><br>
		{{{customer.body}}}
		</div>
		{{!-- <div class="col-12 mb-5">
			<h3 id="about_alpine">Tentang alpine</h3>
			<p style="line-height: 2.5; margin-top: 20px;">In ultrices nisl at rhoncus viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus aliquet felis pellentesque maximus fermentum. Proin accumsan vestibulum iaculis. Morbi velit ligula, cursus eget vehicula finibus, tempor quis urna. Fusce leo dui, bibendum sed odio ac, iaculis mattis sem. Integer tincidunt elit cursus metus varius rutrum. In scelerisque placerat ex, eget interdum velit laoreet sit amet. Sed consequat arcu quis vulputate venenatis.</p>
		</div>
		<style> li{ line-height: 3 } </style>
		<div class="col-12">
			<h3 id="alpine_services">Layanan aplikasi Alpine</h3>
			<p style="line-height: 2.5; margin-top: 20px; margin-bottom: 20px;">In ultrices nisl at rhoncus viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus aliquet felis pellentesque maximus fermentum. Proin accumsan vestibulum iaculis.</p>
			<h4 id="provider">
			<svg width="23" height="23" fill="none" stroke="#09a7e3" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 5px; margin-top: -3px;">
			<use xlink:href="/assets/image/feather-sprite.svg#info"/>
			</svg>
			Fitur untuk instansi</h4>
			<ul>
				<li>Pengelolaan data ambulans</li>
				<li>Pengelolaan data ambulans</li>
				<li>Pengelolaan data ambulans</li>
				<li>Pengelolaan data ambulans</li>
			</ul>
			<br>
			<h4 id="driver">
			<svg width="23" height="23" fill="none" stroke="#09a7e3" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 5px; margin-top: -3px;">
			<use xlink:href="/assets/image/feather-sprite.svg#info"/>
			</svg>
			Fitur untuk pengemudi ambulans</h4>
			<ul>
				<li>Pengelolaan data ambulans</li>
				<li>Pengelolaan data ambulans</li>
				<li>Pengelolaan data ambulans</li>
				<li>Pengelolaan data ambulans</li>
			</ul>
			<br>
			<h4 id="customer">
			<svg width="23" height="23" fill="none" stroke="#09a7e3" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 5px; margin-top: -3px;">
			<use xlink:href="/assets/image/feather-sprite.svg#info"/>
			</svg>
			Fitur untuk pengguna</h4>
			<br>
			<ul>
				<li>Pengelolaan data ambulans</li>
				<li>Pengelolaan data ambulans</li>
				<li>Pengelolaan data ambulans</li>
				<li>Pengelolaan data ambulans</li>
			</ul>
		</div> --}}
	</div>
</div>
{{partial 'footer'}}