<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="card mb-4">
				<div class="card-body">
				<div class="title-body">
				<i data-feather="info" class="info-circle"></i>
			  	Ringkasan layanan
				</div>
			  	<small class="subtitle-body mb-3">Lihat perkemangan data ambulans secara realtime</small>
			  	<div class="d-flex flex-row">
			  		<div class="panel panel-first" title="Total instansi yang terdaftar">
			  			<span style="font-weight: 400;">Instansi</span>
			  			<div class="number">
			  			<svg width="50" height="50" fill="none" stroke="rgba(255, 255, 255, 0.21176470588235294)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px; position: absolute; right: 5px; top: 5px;">
						<use xlink:href="/assets/image/feather-sprite.svg#bell"/>
						</svg>
			  			{{totalProviders}}
			  			</div>
			  		</div>
			  		<div class="panel" style="background: orange; color: #fff; border-color: orange;" title="Total semua ambulans dari instansi">
			  			<span style="font-weight: 400;">Ambulans</span>
			  			<div class="number">
			  			<svg width="50" height="50" fill="none" stroke="rgba(255, 255, 255, 0.21176470588235294)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px; position: absolute; right: 5px; top: 5px;">
						<use xlink:href="/assets/image/feather-sprite.svg#users"/>
						</svg>  
						{{totalDrivers}}
				  		</div>
			  		</div>
			  		<div class="panel" style="background: #E91E63; color: #fff; border-color:#E91E63;" title="Total semua data pengguna aplikasi">
			  			<span style="font-weight: 400;">Pengguna</span>
			  			<div class="number">
						<svg width="50" height="50" fill="none" stroke="rgba(255, 255, 255, 0.41176470588235294)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px; position: absolute; right: 5px; top: 5px;">
						<use xlink:href="/assets/image/feather-sprite.svg#check-circle"/>
						</svg>
			  			{{totalCustomers}}
			  			</div>
			  		</div>
			  		<div class="panel" style="background: #3F51B5; color: #fff; border-color:#3F51B5;" title="Total semua pelayanan dari pengemudi ambulans">
			  			<span style="font-weight: 400;">Pelayanan</span>
			  			<div class="number">
						<svg width="50" height="50" fill="none" stroke="rgba(255, 255, 255, 0.41176470588235294)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px; position: absolute; right: 5px; top: 5px;">
						<use xlink:href="/assets/image/feather-sprite.svg#plus-circle"/>
						</svg>
			  			{{totalHistories}}
			  			</div>
			  		</div>
			  	</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<div class="card mb-4">
				<div class="card-body">
				<div class="title-body">
				<i data-feather="info" class="info-circle"></i>
			  	Data jumlah ambulans
				</div>
			  	<small class="subtitle-body mb-3">Data jumlah ambulans tiap instansi yang terdaftar</small>
			  	{{ember-chart type='bar' data=chartDataProvider options=optionChartProvider width=200 height=100}}
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card mb-4">
				<div class="card-body">
				<div class="title-body">
				<i data-feather="info" class="info-circle"></i>
			  	Data permintaan pengguna
				</div>
			  	<small class="subtitle-body mb-3">Data jumlah permintaan ambulans oleh pengguna</small>
			  	{{ember-chart type='doughnut' data=chartDataCustomer options=optionChartCustomer width=200 height=100}}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card mb-4">
				<div class="card-body">
				<div class="title-body">
				<i data-feather="info" class="info-circle"></i>
			  	Data pelayanan ambulans
				</div>
			  	<small class="subtitle-body mb-3">Lihat perkemangan data ambulans secara realtime</small>
			  	{{ember-chart type='bar' data=chartDataDriver options=optionChartDriver width=200 height=80}}
				</div>
			</div>
		</div>
	</div>
</div>