<div class="container-fluid mt-4 mb-5">
	<style>
		.alert-info, .alert-danger{
		    position: absolute;
			width: 93%;
		    left: 40px;
		    z-index: 3;
		}
	</style>
	{{#each flashMessages.queue as |flashProvider|}}
	  {{flash-message flash=flashProvider}}
	{{/each}}
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Daftar pelayanan ambulans</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data ambulans dan dapatkan hasil secara realtime
			</div>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	{{!-- <li class="breadcrumb-item">
			  		{{#link-to 'admin.provider' tagName='a'}}Daftar ambulans{{/link-to}}
			  	</li> --}}
			    <li class="breadcrumb-item active" aria-current="page">Daftar ambulans aktif</li>
			  </ol>
			</nav>

			{{#if driver}}
			{{#each driver as |d|}}
			<div>
				<div class="card" style="margin-bottom: 15px;">
					<div class="card-body">
						<div class="d-flex flex-row">
							<div class="mr-2">
							<picture class="pic-active">
								<img src="{{d.profileImageUrl}}">
							</picture>
							</div>
							<div class="mr-2 active-class" style="width: 280px !important;">
								<small>Nama pengemudi</small>
								<h6 style="margin-bottom: 5px;">{{d.name}}</h6>
								<small>ID : {{d.customerId}}</small>
							</div>
							<div class="mr-2 active-class">
								<small>Nomor telepon</small>
								<p style="margin-bottom: 0;">{{d.phone}}</p>
							</div>
							<div class="mr-2 active-class">
								<small>Status</small>
								<span  class="btn btn-danger btn-sm" style="cursor: default;">Dalam perjalanan</span>
							</div>
							<div class="mr-2 active-class">
								<small>Pantau proses pelayanan</small>
								{{#link-to 'admin.driver-working.detail' d.customerId tagName="a" title="Lihat lokasi" class="btn btn-primary btn-sm"}}
								Lihat Detail pelayanan
								{{/link-to}}
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
			{{else}}
			<div>
				<div class="card">
					<div class="card-body">
					<div class="empty-container">
						<img src="/assets/image/empty_state/empty05.png">
						<div class="title-empty">Oops data kosong</div>
						<span class="subtitle-empty">Untuk saat ini tidak ada ambulans yang sedang bertugas</span>
				  	</div>	
					</div>
				</div>
			</div>
			{{/if}}

		</div>
	</div>
</div>