<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Kelola halaman informasi pengguna</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data instansi dan dapatkan hasil secara realtime
			</div>
			<hr>
			<nav class="nav nav-pills flex-column flex-sm-row mb-3">
				{{#link-to 'admin.page.user-information.index' tagName="a" class="flex-sm-fill text-sm-center nav-link"}}
				Tampilan halaman
				{{/link-to}}
				{{#link-to 'admin.page.user-information.about' tagName="a" class="flex-sm-fill text-sm-center nav-link"}}
				Tentang aplikasi
				{{/link-to}}
				{{#link-to 'admin.page.user-information.service' tagName="a" class="flex-sm-fill text-sm-center nav-link"}}
				Layanan aplikasi
				{{/link-to}}
				{{#link-to 'admin.page.user-information.provider' tagName="a" class="flex-sm-fill text-sm-center nav-link"}}
				Fitur instansi
				{{/link-to}}
				{{#link-to 'admin.page.user-information.driver' tagName="a" class="flex-sm-fill text-sm-center nav-link"}}
				Fitur ambulans
				{{/link-to}}
				{{#link-to 'admin.page.user-information.customer' tagName="a" class="flex-sm-fill text-sm-center nav-link"}}
				Fitur pengguna
				{{/link-to}}
			</nav>
			<hr>
			<div style="border: 1px solid #ddd; margin-bottom: 10px;">
				{{pell-editor value=about.body onChange=(action (mut value))}}	
			</div>
            <button type="submit" class="btn btn-primary btn-sm" {{action 'saveData' value}}>Simpan perubahan</button>
            <button class="btn btn-danger btn-sm" {{action 'cancle' about}}>Batal</button>
		</div>
	</div>
</div>