<div class="container-fluid mt-4 mb-5">
	<div class="row">
		<div class="col-12">
			<div class="title-menu">Kelola halaman informasi pengunjung</div>
			<div class="subtitle-menu text-muted mb-4">
				Kelola semua data instansi dan dapatkan hasil secara realtime
			</div>
			<hr>
			<nav class="nav nav-pills flex-column flex-sm-row">
				{{#link-to 'admin.page.user-information' tagName="a" class="flex-sm-fill text-sm-center nav-link"}}
				Tampilan halaman
				{{/link-to}}
				{{#link-to 'admin.page.user-information.about' tagName="a" class="flex-sm-fill text-sm-center nav-link"}}
				Tentang aplikasi
				{{/link-to}}
				{{#link-to 'admin.page.user-information.service' tagName="a" class="flex-sm-fill text-sm-center nav-link"}}
				Layanan aplikasi
				{{/link-to}}
				{{#link-to 'admin.page.user-information.provider' tagName="a" class="flex-sm-fill text-sm-center nav-link"}}
				Fitur instansi
				{{/link-to}}
				{{#link-to 'admin.page.user-information.driver' tagName="a" class="flex-sm-fill text-sm-center nav-link"}}
				Fitur ambulans
				{{/link-to}}
				{{#link-to 'admin.page.user-information.customer' tagName="a" class="flex-sm-fill text-sm-center nav-link"}}
				Fitur pengguna
				{{/link-to}}
			</nav>
			<hr>
			<div class="col-10 mt-5 ml-auto mr-auto">
				<span class="btn btn-warning btn-sm mb-5">Preview halaman informasi untuk pengunjung</span>
				<style>
					span{ font-family: 'Fira Sans' !important; }
					h2{ margin-bottom: 0px; font-size: 1.7rem; }
				</style>
				{{{about.body}}}
				<br><hr><br>
				{{{service.body}}}
				<br><hr><br>
				{{{provider.body}}}
				<br><br>
				{{{driver.body}}}
				<br><br>
				{{{customer.body}}}
			</div>
		</div>
	</div>
</div>