{{#if currentUser}}
<nav class="navbar navbar-dark fixed-top bg-grey flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 px-4" href="#"><img src="/assets/image/logo-dashboard.svg" class="logo-alpine-dashboard"></a>
  <div class="w-100">
  <i data-feather="menu" class="mr-auto" style="position: relative; left: 40px;"></i>
  </div>
  <ul class="navbar-nav px-4">
    <li class="nav-item text-nowrap">
      <a class="nav-link nav-user" href="#"><span class="text-muted"><i data-feather="phone" class="icons"></i> {{model.phone}}</span> | {{model.name}}</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
     {{!-- style="max-width: 19.66667%;" --}}
    <nav class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <div class="d-flex justify-content-between align-items-center px-4 mb-1 text-muted"><span class="small-info">Tentukan peranmu untuk membantu sesama dalam kebaikan</span></div>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-4 mt-4 mb-2 text-muted">
          <span>ADMINISTRATOR INSTANSI</span>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            {{#link-to 'provider' tagName="a" class="nav-link nav-style active-link"}}
             <i data-feather="home" class="icons"></i>
              Beranda
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'driver' tagName="a" class="nav-link nav-style active-link"}}
             <i data-feather="users" class="icons"></i>
              Daftar ambulans
            {{/link-to}}
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-4 mt-4 mb-2 text-muted">
          <span>INFORMASI AMBULANS</span>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            {{#link-to 'active-ambulance' tagName="a" class="nav-link nav-style active-link"}}
             <i data-feather="bell" class="icons"></i>
              Ambulans aktif
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'driver-working' tagName="a" class="nav-link nav-style active-link"}}
             <i data-feather="file-text" class="icons"></i>
              Pesanan ambulans
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'history' tagName="a" class="nav-link nav-style active-link"}}
             <i data-feather="package" class="icons"></i>
              Riwayat pesanan
            {{/link-to}}
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-4 mt-4 mb-2 text-muted">
          <span>PILIHAN</span>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link nav-style"  style="cursor: pointer;" {{action 'signOut'}}>
              <i data-feather="log-out" class="icons"></i>
              Keluar
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" >
    	<div class="card text-center mt-4" style="padding: 50px 0;">
    		<div class="card-body">
		    	<img style="width: 20%;" src="/assets/image/empty_state/empty06.png">
				<h1>404 Not found</h1>
				<p class="mb-3">Halaman yang anda cari tidak dapat ditemukan, silahkan kembali ke beranda</p>
				{{#link-to 'provider' tagName="a" class="btn btn-primary"}}Beranda instansi{{/link-to}}
    		</div>
    	</div>
    </main>

  </div>
</div>
<script>feather.replace()</script>

{{else}}

{{partial 'navbar'}}
<div class="container-fluid" style="background: #F4F4F4;">
	<div class="row text-center" style="padding: 100px 0;">
		<div class="col-8 ml-auto mr-auto">
			<img style="width: 30%;" src="/assets/image/empty_state/empty06.png">
			<h1>Oops halaman tidak ada</h1>
			<p class="mb-3">Halaman yang anda cari tidak dapat ditemukan, silahkan kembali ke homepage</p>
			{{#link-to 'index' tagName="a" class="btn btn-primary"}}Kembali ke homepage{{/link-to}}
		</div>
	</div>
</div>
{{partial 'footer'}}

{{/if}}