<nav class="navbar navbar-dark fixed-top bg-grey flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 px-4" href="#"><img src="/assets/image/logo-dashboard.svg" class="logo-alpine-dashboard"></a>
  <div class="w-100">
  <i data-feather="menu" class="mr-auto" style="position: relative; left: 40px;"></i>
  </div>
  <ul class="navbar-nav px-4">
    <li class="nav-item text-nowrap">
      <a class="nav-link nav-user" href="#"><span class="text-muted"><i data-feather="phone" class="icons"></i> {{providerInfo.phone}}</span> | {{providerInfo.name}}</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
     {{!-- style="max-width: 19.66667%;" --}}
    <nav class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <div class="d-flex justify-content-between align-items-center px-4 mb-1 text-muted"><span class="small-info">Tentukan peranmu untuk membantu sesama dalam kebaikan</span></div>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-4 mt-4 mb-2 text-muted">
          <span>ADMINISTRATOR INSTANSI</span>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            {{#link-to 'provider' tagName="a" class="nav-link nav-style active-link"}}
             <i data-feather="home" class="icons"></i>
              Beranda
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'driver' tagName="a" class="nav-link nav-style active-link"}}
             <i data-feather="users" class="icons"></i>
              Daftar ambulans
            {{/link-to}}
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-4 mt-4 mb-2 text-muted">
          <span>INFORMASI AMBULANS</span>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            {{#link-to 'active-ambulance' tagName="a" class="nav-link nav-style active-link"}}
             <i data-feather="bell" class="icons"></i>
              Ambulans aktif
              {{#if parent}}
              <span class="badge badge-secondary" style="margin-left: 5px;padding: 0.2rem 0.3rem 0.1rem 0.3rem;">{{totalActive.length}}</span>
              {{/if}}
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'driver-working' tagName="a" class="nav-link nav-style active-link"}}
             <i data-feather="file-text" class="icons"></i>
              Pesanan ambulans
              {{#if totalWorking}}
              <span class="badge badge-secondary" style="margin-left: 5px;padding: 0.2rem 0.3rem 0.1rem 0.3rem;">{{totalWorking.length}}</span>
              {{/if}}
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'history' tagName="a" class="nav-link nav-style active-link"}}
             <i data-feather="package" class="icons"></i>
              Riwayat pesanan
            {{/link-to}}
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-4 mt-4 mb-2 text-muted">
          <span>PILIHAN</span>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link nav-style"  style="cursor: pointer;" {{action 'signOut'}}>
              <i data-feather="log-out" class="icons"></i>
              Keluar
            </a>
          </li>
        </ul>
      </div>
    </nav>
    {{!-- style="max-width: 80.33333% !important;" --}}
    {{#if session.currentUser}}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" >
      {{outlet}}
    </main>
    {{else}}
    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>
<script>feather.replace()</script>