<footer class="container-fluid px-lg py-footer" style="background: #181818">
	<div class="row">
		<div class="col-4">
			<img src="/assets/image/logo-footer.svg" style="width: 140px;">
		</div>
		<div class="col-4">
			<strong class="title-link-block">Alpine</strong>
			<div class="link-block">
				{{#link-to 'user-information' }}Tentang aplikasi{{/link-to}}
				{{#link-to 'user-information' }}Fitur instansi{{/link-to}}
			</div>
		</div>
		<div class="col-4 align-right">
			<strong class="title-link-block">Layanan</strong>
			<div class="link-block">
				{{#link-to 'user-information' }}Fitur Pengemudi ambulans{{/link-to}}
				{{#link-to 'user-information' }}Fitur Pengguna aplikasi{{/link-to}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12"  title="coming soon !!!">
			<hr style="border-top: 1px solid rgba(255, 255, 255, 0.15); margin-top: 40px; margin-bottom: 20px;">
			<div class="col-auto offset-md-4">
			<img src="https://d1a3f4spazzrp4.cloudfront.net/uber-com/1.3.8/d1a3f4spazzrp4.cloudfront.net/illustrations/app-store-google-4d63c31a3e.svg" style="width: 150px;">
			</div>
			<hr style="border-top: 1px solid rgba(255, 255, 255, 0.15); margin-top: 20px;">
		</div>
		<div class="col-4">
			<small style="color: #ACACAC;">
			<svg width="15" height="15" fill="none" stroke="#ACACAC" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;">
			<use xlink:href="/assets/image/feather-sprite.svg#at-sign"/>
			</svg>
			2018 Alpine Trademark.</small>
		</div>
		<div class="col-4">
			<small class="privasi">
				{{#link-to 'rule'}}Peraturan{{/link-to}}
				{{#link-to 'policy'}}Kebijakan privasi{{/link-to}}
			</small>
		</div>
	</div>
</footer>