<nav class="navbar navbar-expand-lg navbar-cover w-100">
	<div class="container container-navbar">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	      	{{#link-to 'index' tagName="a" class="nav-link header-logo"}}
				<img src="/assets/image/logo.svg" class="logo-alpine">
	      	{{/link-to}}
	      </li>
	    </ul>
	    <ul class="navbar-nav">
		<li class="nav-item">
			{{#link-to 'user-information' tagName="a" class="nav-link"}}
				LAYANAN
	      	{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to 'blog' tagName="a" class="nav-link"}}
				BLOG
	      	{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to 'auth.signIn' tagName="a" class="nav-link"}}MASUK{{/link-to}}
		</li>
		{{!-- <li class="nav-item">
			<a class="nav-link" href="#">
			<svg width="20" height="20" fill="none" stroke="#fff" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;">
			<use xlink:href="/assets/image/feather-sprite.svg#menu"/>
			</svg>
			</a>
		</li> --}}
	    </ul>
	  </div>
	</div>
</nav>


<header class="container-fluid">
	<div class="row">
		<div class="col-5 outter-header">
			<div class="inner-left">
			<div class="display-text-5">Tentukan peranmu</div>
			<div class="display-text-4">Untuk membantu sesama</div>
			<span class="desc-title">
				One tap and a car comes directly to you. Hop in-your driver knows exactly where to go around with your time
			</span>
			<div class="scope-button-header">
				{{#link-to 'user-information' tagName="a" class="button-register-ambulans"}}
				Lihat cara mendaftarkan ambulans
				<svg width="30" height="30" fill="none" stroke="#fff" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 15px;">
				<use xlink:href="assets/image/feather-sprite.svg#chevron-right"/>
				</svg>
				{{/link-to}}
			</div>
			</div>
			<div class="detail-register-box">
				<a href="#" style="color: #000; text-decoration: none;">
					Lihat apa yang kami tawarkan
					<svg width="30" height="30" fill="none" stroke="#808080" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;">
					<use xlink:href="assets/image/feather-sprite.svg#plus-circle"/>
					</svg>
				</a>
			</div>
		</div> 
		<div class="col-7 bg-top-right register-box">
			<div class="card" style="box-shadow: 0 3px 5px #00000052 !important;">
				<div class="card-body">
					<div class="title-register-provider">Pendaftaran instansi</div>
					<div class="subtitle-register-provider text-muted">Daftarkan instansi kemudian daftarkan pengemudi ambulans untuk menggunakan aplikasi alpine</div>
					{{#each flashMessages.queue as |flash|}}
					  {{flash-message flash=flash}}
					{{/each}}
					<div class="form-group-register {{if model.isValidName 'was-validated' 'was-unvalidated'}}">
						<label class="label">Nama instansi</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text input-group-custom">
								<svg width="15" height="15" fill="none" stroke="#000" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="">
								<use xlink:href="assets/image/feather-sprite.svg#menu"/>
								</svg>
								</div>
							</div>
						{{input type="text" value=model.name class="form-control form-group"}}
						</div>
						{{#if model.name}}
							{{#if model.isValidName}}
							<div class="valid-feedback">
							{{!-- Looks good! --}}
							</div>
							{{else}}
							<div class="invalid-feedback">
							<span class="input-error">Oops</span>
							Cek kembali penulisan nama instansi
							</div>
							{{/if}}
						{{/if}}
						
					</div>
					<div class="form-group-register {{if model.isProviderAddressEnoughLong 'was-validated' 'was-unvalidated'}}">
						<label class="label">Alamat instansi</label>
						<div class="input-group">
							<div class="input-group-prepend"> 
								<div class="input-group-text input-group-custom">
								<svg width="15" height="15" fill="none" stroke="#000" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="">
								<use xlink:href="assets/image/feather-sprite.svg#home"/>
								</svg>
								</div>
							</div>
						{{input type="text" value=model.address class="form-control form-group"}}
						</div>
						{{#if model.address}}
							{{#if model.isProviderAddressEnoughLong}}
							<div class="valid-feedback">
							{{!-- Looks good! --}}
							</div>
							{{else}}
							<div class="invalid-feedback">
							<span class="input-error">Oops</span>
							Cek kembali penulisan alamat
							</div>
							{{/if}}
						{{/if}}
					</div>
					<div class="form-group-register {{if model.isProviderPhoneEnoughLong 'was-validated' 'was-unvalidated'}}">
						<label class="label">Nomor telepon instansi</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text input-group-custom">
								<svg width="15" height="15" fill="none" stroke="#000" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="">
								<use xlink:href="assets/image/feather-sprite.svg#phone"/>
								</svg>
								</div>
							</div>
						{{input type="number" value=model.phone class="form-control form-group form-group" }}
						</div>
						{{#if model.phone}}
							{{#if model.isProviderPhoneEnoughLong}}
							<div class="valid-feedback">
							{{!-- Looks good! --}}
							</div>
							{{else}}
							<div class="invalid-feedback">
							<span class="input-error">Oops</span>
							Cek kembali penulisan nomor telepon
							</div>
							{{/if}}
						{{/if}}
					</div>
					<div class="form-group-register {{if model.isValidEmail 'was-validated' 'was-unvalidated'}}">
						<label class="label">Email</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text input-group-custom">
								<svg width="15" height="15" fill="none" stroke="#000" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="">
								<use xlink:href="assets/image/feather-sprite.svg#mail"/>
								</svg>
								</div>
							</div>
						{{{input type="email" value=model.email class="form-control form-group"}}}
						</div>
						{{#if model.email}}
							{{#if model.isValidEmail}}
							<div class="valid-feedback">
							{{!-- Looks good! --}}
							</div>
							{{else}}
							<div class="invalid-feedback">
							<span class="input-error">Oops</span>
							Cek kembali penulisan email
							</div>
							{{/if}}
						{{/if}}
					</div>
					<div class="form-group-register {{if model.isValidPassword 'was-validated' 'was-unvalidated'}}">
						<label class="label">Password</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text input-group-custom">
								<svg width="15" height="15" fill="none" stroke="#000" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" style="">
								<use xlink:href="assets/image/feather-sprite.svg#lock"/>
								</svg>
								</div>
							</div>
						{{input type="password" value=model.password class="form-control form-group" title="Password minimal 5 karakter"}}
						{{#if model.password}}
							{{#if model.isValidPassword}}
							<div class="valid-feedback">
							{{!-- Looks good! --}}
							</div>
							{{else}}
							<div class="invalid-feedback">
							<span class="input-error">Oops</span>
							Password minimal 5 karakter
							</div>
							{{/if}}
						{{/if}}
						</div>
					</div>
					<button disabled={{model.isDisabled}} class="btn btn-primary btn-block" style="margin-top: 20px; padding: .8rem;" {{action 'signUp'}}>Daftar</button>
					<div class="w-100 text-center" style="margin-top: 20px; padding-left: 50px; padding-right: 50px">
						<small style="line-height: 1.4; display: block;">
						Sudah punya akun? silahkan masuk di link berikut 
						{{#link-to 'auth.signIn' tagName="a"}}Masuk instansi{{/link-to}}
						</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<section style="background: #efefef;">
<div class="container">
	<div class="row mx-5">
		<div class="col-4 my-lg">
			<div class="part">Easiest way around</div>
			<div class="detail-part text-muted">One tap and a car comes directly to you. Hop in-your driver knows exactly</div>
		</div>
		<div class="col-4 my-lg">
			<div class="part">Easiest way around</div>
			<div class="detail-part text-muted">One tap and a car comes directly to you. Hop in-your driver knows exactly</div>
		</div>
		<div class="col-4 my-lg">
			<div class="part">Easiest way around</div>
			<div class="detail-part text-muted">One tap and a car comes directly to you. Hop in-your driver knows exactly</div>
		</div>
	</div>
</div>
</section>
<section>
<div class="container">
	<div class="row mx-5 my-lg">
		<div class="col-6 text-center">
			<img src="/assets/image/customer.png">
		</div>
		<div class="col-6 pl-5">
			<div class="mintitle">
				Layanan terbaik
			</div>
			<div class="title-layanan w-75">
				Fitur untuk pelanggan 
			</div>
			<div class="subtitle-layanan">
				<svg width="30" height="30" fill="none" stroke="#C4C4C4" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 10px;">
				<use xlink:href="assets/image/feather-sprite.svg#info"/>
				</svg>
				Layanan pertama kami
			</div>
			<div class="content-layanan w-75">
				Wherever you're headed, count on Uber for a ride-no reservations knows
			</div>
			<div class="space"></div>
			<div class="subtitle-layanan">
				<svg width="30" height="30" fill="none" stroke="#C4C4C4" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 10px;">
				<use xlink:href="assets/image/feather-sprite.svg#info"/>
				</svg>
				Layanan pertama kami
			</div>
			<div class="content-layanan w-75">
				Wherever you're headed, count on Uber for a ride-no reservations knows
			</div>
		</div>
	</div>

	<div class="row mx-5 my-lg">
		<div class="col-6 pl-5">
			<div class="mintitle">
				Layanan terbaik
			</div>
			<div class="title-layanan w-75">
				Fitur untuk pengemudi ambulans
			</div>
			<div class="subtitle-layanan">
				<svg width="30" height="30" fill="none" stroke="#C4C4C4" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 10px;">
				<use xlink:href="assets/image/feather-sprite.svg#info"/>
				</svg>
				Layanan pertama kami
			</div>
			<div class="content-layanan w-75">
				Wherever you're headed, count on Uber for a ride-no reservations knows
			</div>
			<div class="space"></div>
			<div class="subtitle-layanan">
				<svg width="30" height="30" fill="none" stroke="#C4C4C4" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 10px;">
				<use xlink:href="assets/image/feather-sprite.svg#info"/>
				</svg>
				Layanan pertama kami
			</div>
			<div class="content-layanan w-75">
				Wherever you're headed, count on Uber for a ride-no reservations knows
			</div>
		</div>
		<div class="col-6 text-center">
			<img src="/assets/image/driver.png">
		</div>
	</div>
</div>
</section>
<section>
<div class="container-fluid">
	<div class="row bg-tagline px-lg  align-items-center">
		<div class="col-10">
			<p style="margin-bottom: 20px; display: block;">Layanan terbaik kami</p>
			<h3>Tentukan peranmu<br>untuk berbuat kebaikan ke sesama</h3>
		</div>
		<div class="col-2">
			<svg width="80" height="80" fill="none" stroke="#fff" stroke-width="1px" stroke-linecap="round" stroke-linejoin="round" >
			<use xlink:href="assets/image/feather-sprite.svg#arrow-right-circle"/>
			</svg>
		</div>
	</div>
</div>
</section>
{{partial 'footer'}}