<nav class="navbar navbar-expand-lg w-100 navbar-relative">
	<div class="container container-navbar">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	      	{{#link-to 'index' tagName="a" class="nav-link nav-link-black header-logo"}}
				<img src="/assets/image/logo.svg" class="logo-alpine">
	      	{{/link-to}}
	      </li>
	    </ul>
	    <ul class="navbar-nav">
		<li class="nav-item">
			{{#link-to 'user-information' tagName="a" class="nav-link nav-link-black"}}
				LAYANAN
	      	{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to 'blog' tagName="a" class="nav-link nav-link-black"}}
				BLOG
	      	{{/link-to}}
		</li>
		{{#if session.currentUser}}
		<li class="nav-item">
			{{#link-to 'index' tagName="a" class="nav-link nav-link-black"}}BERANDA{{/link-to}}
		</li>
		{{else}}
		<li class="nav-item">
			{{#link-to 'index' tagName="a" class="nav-link nav-link-black"}}DAFTAR{{/link-to}}
		</li>
		{{/if}}
		{{!-- <li class="nav-item">
			<a class="nav-link" href="#">
			<svg width="20" height="20" fill="none" stroke="#000" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;">
			<use xlink:href="/assets/image/feather-sprite.svg#menu"/>
			</svg>
			</a>
		</li> --}}
	    </ul>
	  </div>
	</div>
</nav>
